<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="userModel" type="com.gesoft.model.UserModel" />
		<typeAlias alias="dwrModel" type="com.gesoft.model.DwrModel" />
		<typeAlias alias="devTypeModel" type="com.gesoft.model.DevTypeModel" />
		<typeAlias alias="deviceModel" type="com.gesoft.model.DeviceModel" />
		<typeAlias alias="serviceModel" type="com.gesoft.model.ServiceModel" />
		<typeAlias alias="outModel" type="com.gesoft.model.OutModel" />
		<typeAlias alias="queryModel" type="com.gesoft.model.QueryModel" />
		<typeAlias alias="dictModel" type="com.gesoft.model.DictModel" />
		<typeAlias alias="relativePhoneModel" type="com.gesoft.model.RelativePhoneModel" />
		<typeAlias alias="habbitModel" type="com.gesoft.model.HabbitModel" />
		<typeAlias alias="geneticDiseaseModel" type="com.gesoft.model.GeneticDiseaseModel" />
		<typeAlias alias="diseaseHisModel" type="com.gesoft.model.DiseaseHisModel" />
		<typeAlias alias="nurseRequestModel" type="com.gesoft.model.NurseRequestModel" />
		<typeAlias alias="messageModel" type="com.gesoft.model.MessageModel" />
		<typeAlias alias="scoreModel" type="com.gesoft.model.ScoreModel" />
		<typeAlias alias="activityModel" type="com.gesoft.model.ActivityModel" />
		<typeAlias alias="serviceModel" type="com.gesoft.model.ServiceModel" />
		<typeAlias alias="doctorAdviceModel" type="com.gesoft.model.DoctorAdviceModel" />
		<typeAlias alias="doctorAdvicePerformanceModel" type="com.gesoft.model.DoctorAdvicePerformanceModel" />
		<typeAlias alias="doctorModel" type="com.gesoft.model.DoctorModel" />
		<typeAlias alias="hospitalModel" type="com.gesoft.model.HospitalModel" />
		<typeAlias alias="hospitalDeptModel" type="com.gesoft.model.HospitalDeptModel" />
		<typeAlias alias="treeNodeModel" type="com.gesoft.model.TreeNodeModel" />
		<typeAlias alias="feedBackModel" type="com.gesoft.model.FeedBackModel" />
		<typeAlias alias="postModel" type="com.gesoft.model.PostModel" />
		<typeAlias alias="commentModel" type="com.gesoft.model.CommentModel" />
		<typeAlias alias="bloodModel" type="com.gesoft.model.BloodModel" />
		<typeAlias alias="earTemperatureModel" type="com.gesoft.model.EarTemperatureModel" />
		<typeAlias alias="bloodGlucoseModel" type="com.gesoft.model.BloodGlucoseModel" />
		<typeAlias alias="sportItemModel" type="com.gesoft.model.SportItemModel" />
		<typeAlias alias="foodItemModel" type="com.gesoft.model.FoodItemModel" />
		<typeAlias alias="foodTypeModel" type="com.gesoft.model.FoodTypeModel" />
		<typeAlias alias="healthReportModel" type="com.gesoft.model.HealthReportModel" />
	</typeAliases>
	<mappers></mappers>
</configuration>