@charset "utf-8";

/*----------------basic_information---------------*/
.information_modify{width:670px; margin:0 auto; font-family:"微软雅黑"}
.title_informationModify{float:left;width:670px; font-size:30px; font-weight:500; line-height:45px; height:45px; color:#0ca7a1; text-align:left; margin-top:30px; margin-bottom:20px;}
.tgrey_title_informationModify{color:#5a5a5a}
.information_modify_main{float:left;width:670px; font-size:13px;}
.btn_title_informationModify{background:#f7f7f7; height:40px; line-height:40px; color:#5a5a5a; width:650px; padding:0 10px; float:left}
.tLeft{text-align:left; width:325px; height:40px;float:left;}
.tRight{text-align:right; width:325px;height:40px;float:left;}
.informationModify_main{width:650px; padding:0 10px; float:left; margin:20px 0;}
.informationModify_main2{width:580px; padding:0 10px; float:left; margin:20px 60px;font-size:13px;font-family:微软雅黑;}
.informationModify_main2 li{padding:2px 0; float:left; }
.tLeft_informationModify{width:570px;float:left;}
.tLeft_informationModify li{float:left; padding:5px 0; height:30px; line-height:30px;}
.tRight_informationModify{width:80px; float:left;}
.thead_informationModify{ height:30px; margin-top:10px;}
.thead_informationModify a{color:#0ca7a1;}
.tblack_informationModify{color:#5a5a5a;width:490px;  text-align:left; float:left;}
.tgrey_informationModify{text-align:right; color:#aeaeae; width:80px;float:left;}
.inputMin_informationModify{width:218px; height:28px; border:1px solid #aeaeae; padding-left:10px; font:13px/26px "微软雅黑"; color:#5a5a5a}
.inputMax_informationModify{width:543px; height:28px; border:1px solid #aeaeae; padding-left:10px; font:13px/26px "微软雅黑"; color:#5a5a5a; }
.selectMax_informationModify{width:230px; height:30px; border:1px solid #aeaeae; font:13px/26px "微软雅黑"; color:#5a5a5a; }
.selectMid_informationModify{width:111px; height:30px; border:1px solid #aeaeae;  font:13px/26px "微软雅黑"; color:#5a5a5a; margin-right:4px;}
.selectMin_informationModify{width:72px;height:30px; border:1px solid #aeaeae; font:13px/26px "微软雅黑"; color:#5a5a5a; margin-right:3px; }

/*----------------detailed_information---------------*/
.detailed_information_left,.detailed_information_right{width:325px; float:left}
.detailed_information_left li,.detailed_information_right li{float:left; padding:5px 0; height:30px; line-height:30px;}
.tgrey_informationDetailed{text-align:right; color:#aeaeae; width:80px; }
.tblack_informationDetailed{color:#5a5a5a;width:245px; text-align:left;}

/*----------------health_records---------------*/
.health_records{width:670px; margin:0 auto; font-family:"微软雅黑"}
.tab_healthRecords{float:left;width:670px; font-size:13px;}
.tab_healthRecords_menu{width:670px; float:left; margin-bottom:10px;}
.tab_healthRecords_menu ul{margin:0;padding:0px; height:95px;}
.tab_healthRecords_menu li{width:220px; margin-right:2px; float:left; background:#f7f7f7;height:93px; line-height:93px; display:block; cursor:pointer; border:1px solid #f7f7f7}
.tab_healthRecords_menu li.selected_healthRecords{border:1px solid #0ca7a1}
.tab_healthRecords_box{width:670px; float:left;}
.hide_healthRecords{display:none;}
.tgreenPrompt{width:660px; float:left; height:30px; line-height:30px; text-align:left; color:#0ca7a1; background:#f7f7f7; padding-left:10px;}
.tblackPrompt{color:#5a5a5a}
.health_examination{width:670px; float:left;}
.health_examination li{float:left;padding:5px 0; height:30px; line-height:30px; text-align:left}
li.tleft_healthExamination{width:110px; color:#aeaeae;text-align: right;}
.tright_healthExamination{width:560px;}
.tright_healthExamination_check8{width:128px;color:#5a5a5a}
.tright_healthExamination_check9{width:140px;color:#5a5a5a}
.tright_healthExamination_check11{width:164px;color:#5a5a5a}
.tright_healthExamination input{margin:0 2px 0 0;}
.tright_healthExamination a{color:#0ca7a1; text-decoration:none;}

/*----------------password_information---------------*/
.password_informationMain{width:670px; float:left;margin-top:40px;}
.password_informationMain li{float:left; margin-bottom:10px;width:670px; font-size: 13px;text-align:left; color:#5a5a5a}
.register_input{height:44px; line-height: 44px; }
.register_input input{width:450px; height:42px; border:1px solid #dbdbdb; padding-left:10px;  background:#f7f7f7; color:#ccc; font:500 18px/42px "微软雅黑"; margin-right: 5px}
.register_prompt_hidden{width:310px; height:44px;font-size:13px; line-height:18px; color:#aeaeae; text-align:left; display:none}
.imgWrong_hidden{background:url(../images/icon/wrong.png) left center no-repeat; height:44px;font-size:13px; line-height:44px; color:#aeaeae; text-align:left; width:262px; padding-left:38px; display:none;}
.btn_reguster{width:670px; height:44px; margin-top:40px;}
.btn_reguster a{background:url(images/btn_register.png) no-repeat; text-align:center; width:341px; height:49px; display:block; color:#fff; text-decoration:none; font:500 18px/49px "微软雅黑"}
.tRed{color:#ee3a67; font-size:16px; margin-right:5px;}

/*---------------popup---------------*/
.img_upload{float:left; width:240px;}
.btn_upload{float:left; width:160px; text-align: left}
.btn_upload a{background:#0ca7a1;width:80px; height:28px; display:block; color:#fff; font-size:13px; line-height:28px; text-align: center; text-decoration: none;}

/*-------------baseInfo------------*/
.base{padding 20px 10px 60px 20px; font-family:"微软雅黑";}
.baseinfo1{text-align:left;  padding: 0px 10px; border-radius: 3px 3px 0px 0px; height: 34px; line-height: 34px; overflow: hidden; margin-top: 0px; position: relative;}
.baseinfo2{border-bottom-width: 0px;}
.baseinfo_1{border-radius: 3px; border: 0px solid rgb(204, 204, 204); overflow: hidden; margin-bottom: 30px; position: relative; background-color: rgb(255, 255, 255);}
.time_input{width:165px; height:30px; line-height:30px;float:left}
.time1{width:60px; color:#5a5a5a; font-size:13px; height:30px; line-height:30px;float:left}
.time_input input{width:145px; padding-left:10px; height:28px; border:1px solid #aeaeae}
.baseinfo_2{border:1px solid #FFFFFF}

.baseinformation{width:670px; margin:0 auto; font-family:"微软雅黑"}

.title_information{background:#f7f7f7; height:40px; line-height:40px; color:#5a5a5a; width:650px; padding:0 10px; float:left}
.monthStyle{font-family:"微软雅黑";font-size:13px;}
.basetLeft{text-align:left; width:325px; height:40px;float:left;font-size:25px; font-weight:400; line-height:45px; height:45px; color:#0ca7a1;}

.baseinfoMember{float:left;width:670px; font-size:13px;margin:20px 0px 0px 20px}

.baseinfoborder{border:1px solid #FFFFFF}



/*--页签-------*/
.healthRecords_menu_yuan{padding-left:5px; float:left; margin-bottom:30px; margin-top:10px;}
.healthRecords_menu_yuan li{background:url(../images/health/bg_z.png) no-repeat top center; width:72px; height:100px; display:block; text-align:center; float:left; margin-right:26px; padding-top:16px; cursor:pointer}
.healthRecords_menu_yuan li span{display:block; height:20px; width:72px; float:left; padding-top:24px; color:#0ca7a1;}
/*.healthRecords_menu_yuan li:last-child{margin:0;}*/
.healthRecords_menu_yuan li.selected_healthRecords_yuan{background-image:url(../images/health/bg_c.png)}

.criteria_search_zsgc{float:left;  width:300px;}
.btn_search_zsgc {float:right;  width:350px;}
.btn_search_zsgc li{float:right; margin-right:2px; display: inline;}
.btn_search_zsgc li a{background-image:url(../images/button/btn_location.png); width:80px; height:30px; font:14px/30px "微软雅黑"; display:block; color:#fff; text-align: center; text-decoration: none;}





