@charset "utf-8";

/*----------------index_tab---------------*/
.index_tab{width:670px; margin:0 auto; font-family:"微软雅黑"}
.tab_menu{width:670px; float:left}
.tab_menu ul{margin:0;padding:0px; height:48px; border-bottom:3px solid #0ca7a1}
.tab_menu li{width:166px; margin-right:2px; float:left; background:#5a5a5a;height:48px; line-height:48px; display:block; cursor:pointer; color:#fff; font-size:18px; font-weight:500;}
.tab_menu li.selected{background:#0ca7a1}
.tab_box{width:670px; float:left;}
.hide{display:none;}

/*----------------bloodPressure_history---------------*/
.bp_history{width:670px; float:left; margin-top:24px;font-family:"微软雅黑"}
.title_BPhistory{width:670px; float:left;}
.tgreen_title_BPhistory{font-size:30px;float:left; text-align:left; font-weight:500; color:#0ca7a1; height:48px; line-height:48px; width:320px;}
.tgrey_title_BPhistory{color:#5a5a5a}
.select_BPhistory{width:350px; float:left; text-align:right; padding-top:12px; height:38px;}
.select_BPhistory select{width:118px; height:28px; border:1px solid #aeaeae; padding-left:10px;}

/*----------------search---------------*/
.search{width:630px; padding:20px; background:#f7f7f7; float:left; margin-top:10px; margin-bottom:20px;}
.search li{float:left; text-align:left}
.criteria_search{width:470px;}
.startTime{width:60px; color:#5a5a5a; font-size:13px; height:30px; line-height:30px;}
.endTime{width:60px; color:#5a5a5a; font-size:13px; height:30px; line-height:30px; margin-left:20px;}
.time_input{width:165px; height:30px; line-height:30px;}
.time_input input{width:145px; padding-left:10px; height:28px; border:1px solid #aeaeae}
.btn_search{width:160px;}
.quick_search{color:#aeaeae; font-size:13px; height:30px; line-height:30px; width:470px;}
.quick_search a{color:#aeaeae; text-decoration:none; margin-right:10px}
.quick_search a:hover{text-decoration:underline}
.btn_search a{background:url(images/btn_search.jpg) no-repeat; width:120px; height:40px; color:#fff; line-height:40px; display:block; text-decoration:none; text-align:center; margin-left:30px}

/*----------------table_page---------------*/
.index_table{width:670px; float:left;}
.bPhistory_table{float:left; width:670px; text-align:left;font-family:"微软雅黑"}
.bPhistory_table a{color:#0ca7a1; margin-right:15px; text-decoration:none;}
.bPhistory_table th{background:#0ca7a1; height:40px; padding-left:20px; line-height:40px; color:#fff; text-align:left; font-size:14px}
.bPhistory_table td{color:#5a5a5a; font-size:13px; padding:5px 0 5px 20px; line-height:18px;}
.even{background:#f7f7f7}
.odd{background:#fff}
.abnormal td{color:#ff9600}
.index_page{width:670px; float:left; height:25px; line-height:25px; margin-top:10px;}
.page_information{width:330px; float:left; text-align:left; font-size:14px; color:#5a5a5a;height:25px; line-height:25px;}
.page_button{width:230px; float:left; font-size:14px; color:#5a5a5a;height:25px; line-height:25px;}
.page_button a{background:#5a5a5a; width:50px; height:25px; font-size:14px; color:#fff; display:block; text-decoration:none; float:left; margin-right:4px; line-height:25px;}
.page_button a:hover{background:#0ca7a1}
.page_select{width:110px; float:left; text-align:right;font-size:14px; color:#5a5a5a;height:25px; line-height:25px;}
.page_select select{height:23px; width:55px; line-height:23px; font-size:14px; color:#5a5a5a; margin:0 10px; border:1px solid #aeaeae; padding-left:3px;}

/*----------------ecg---------------*/
.ecg{width:670px;margin:0 auto; font-family:"微软雅黑"}
.ecg_title{width:670px;float:left;text-align:left;}
.ecg_titleGreen{font-size:24px; color:#0ca7a1; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #0ca7a1; width:120px; float:left}
.ecg_titleGray{font-size:14px; color:#aeaeae;border-bottom:2px solid #aeaeae; width:550px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.ecg_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.ecg_titleGray a:hover{text-decoration:underline}
.ecg_main{width:670px;float:left;text-align:left;}
.ecg_main li{float:left;line-height:30px;}
.img_ecg{background:url(../images/health/ecg.jpg) no-repeat; height:312px; width:670px; margin:20px 0;}
.tgreen_ecg{font-size:18px; font-weight:500; color:#0ca7a1;width:670px;}
.tgrey_ecg{color:#5a5a5a}
.tGrey_ecgname{width:75px; color:#aeaeae; font-size:14px; text-align:right}
.tblack_ecgname{width:585px; color:#5a5a5a; font-size:14px; text-align:left; padding-left:10px;}

.btn_goback{width:69%; height:30px; line-height:30px;float:left; }
.btn_goback a{height:30px; background:#0ca7a1; line-height:30px; color:#fff; text-align: center; width:88px; display: block; text-decoration: none}


.family_disease_relation a{text-decoration:none; color:#0ca7a1; margin:0 5px;}
.family_disease_relation a:hover{text-decoration:underline}=======

/*-------------------advice_detail---------------------*/
.advice{width:670px;margin:0 auto; font-family:"微软雅黑"}
.advice_title{width:670px;float:left;text-align:left;}
.advice_titleGreen{font-size:24px; color:#0ca7a1; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #0ca7a1; width:120px; float:left}
.advice_titleGray{font-size:14px; color:#aeaeae;border-bottom:2px solid #aeaeae; width:550px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.advice_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.advice_titleGray a:hover{text-decoration:underline}
.advice_main{width:670px;float:left;text-align:left;}
.advice_main table.adviceInfo tr{height: 38px;}
.advice_main table tr td span{float: left;
padding: 5px 0;
height: 28px;
line-height: 28px;
font: 13px/26px "微软雅黑";
text-align: right;
color: #aeaeae;
}
.advice_main table tr td{font: 13px/26px "微软雅黑";color: #5a5a5a;}
.btn_save{
	background:url(../images/button/btn_search.jpg) no-repeat;
	height: 40px; 
	width: 120px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font: 14px/28px "微软雅黑";
	margin-bottom: 6px;
	margin-right: 20px;
}
.btn_save1{
	background:url(../images/button/btn_location.png) no-repeat;
	height: 30px; 
	width: 80px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font: 14px/28px "微软雅黑";
	margin-bottom: 6px;
	margin-left: 40px;
}
span.method{line-height: 30px;}
.advice_main select{
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
}
.advice_main input[type="text"] {
	border: 1px solid #aeaeae;
	height: 28px;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
	width: 200px;
	padding-left: 7px;
}
.advice_main input.shortText{
	width: 60px;
}
.med_table input.med_hour, .med_table input.med_dosage{
	width: 160px;
}
.med_table2 input.med_hour, .med_table2 input.med_dosage{
	width: 125px;
}
.advice_main textarea{
	height: 65px;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;
	width: 98%;
	overflow: auto;
	margin: 3px 0 3px 0;}
.day_hour{width: 100%;text-align: left;}
.day_hour .day{width: 130px; height:180px;float: left; border: 1px solid #aeaeae;}
.hour div,.day div{padding: 0px 10px 0 15px;font: 13px/26px "微软雅黑";
	color: #5a5a5a;}
.day_hour .hour{
	width: 130px;
	height:180px;
	float: left; 
	margin-left: 20px;
	overflow-y:scroll;
	overflow-x:hidden;
	border: 1px solid #aeaeae;
	}
.medicine{border-left: 1px solid #aeaeae;border-top: 1px solid #aeaeae;border-right: 1px solid #aeaeae;width: 99%;}
.medicine table tr th,.medicine table tr td{
	text-align: center;
	border-bottom: 1px solid #aeaeae ;
	font: 13px/26px "微软雅黑";
	color: #5a5a5a;}
.medicine .med_tab{text-align: right;width: 100%;border-bottom: 1px solid #aeaeae ;height: 23px;}
.med_tab a{padding-right: 5px;line-height: 23px;color: #0ca7a1;font: 13px/26px "微软雅黑";}
.med_table a{color: #0ca7a1;font: 13px/26px "微软雅黑";}
.med_table2 a{color: #0ca7a1;font: 13px/26px "微软雅黑";}

.family_disease_relation a{text-decoration:none; color:#0ca7a1; margin:0 5px;}
.family_disease_relation a:hover{text-decoration:underline}




@charset "utf-8";

/*----------------account---------------*/
.account{width:670px;margin:10px 0px 5px 40px; font-family:"微软雅黑"}
.account_title{width:670px;float:left;text-align:left;}
.account_titleGreen{font-size:24px; color:#0ca7a1; height:30px; padding-top:13px; padding-bottom:5px; font-weight:500; border-bottom:2px solid #0ca7a1; width:120px; float:left}
.account_titleGray{font-size:14px; color:#aeaeae;border-bottom:2px solid #aeaeae; width:550px;height:20px; padding-top:23px; padding-bottom:5px;float:left; text-align:right}
.account_titleGray a{text-decoration:none; color:#aeaeae; margin:0 5px;}
.account_titleGray a:hover{text-decoration:underline}
.account_main{width:670px;float:left;}
/* .account_security{width:650px; height:80px; float:left; margin-top:10px; padding:20px 0;} */
.account_security{width:650px; height:40px; float:left; margin-top:0px; padding:20px 0;}
.account_security li{float:left}
.imgHead_account{background:url(../images/health/head.jpg) left center no-repeat; width:100px; height:80px;}
.accountSecurity_information{width:249px; border-right:1px dotted #aeaeae; text-align:left; height:80px;}
.account_name{font-size:24px; font-weight:500; width:249px; float:left; color:#5a5a5a; height:30px; line-height:30px;}
.account_welcome{font-size:13px; width:249px; float:left; color:#aeaeae; height:30px; line-height:30px;}
.accountSecurity_promote{font-size:13px;width:249px; float:left; color:#5a5a5a; height:20px; line-height:20px;}
.accountSecurity_promote a{color:#0ca7a1; margin-left:10px;}
.safety_progress{width:80px; height:10px; margin:5px;}
.account_balance{width:260px; height:80px; text-align:left; padding-left:20px;}
.tblack_balance{width:260px; height:20px; line-height:20px; color:#5a5a5a; font-size:16px; font-weight:500; float:left}
.tgrey_balance{width:260px; height:40px; line-height:40px; color:#5a5a5a;float:left; font-size:13px;}
.tgrey_balance a{color:#0ca7a1; margin-left:20px; text-decoration: none;}


.tyellow_balance{font-size:30px; font-weight:500; color:#5a5a5a; margin-right:10px;}

/*----------------my_meal---------------*/
.my_meal{width:670px; float:left}
.title_myMeal{height:40px; background:#f7f7f7; line-height:40px; color:#5a5a5a; width:650px; padding:0 10px; float:left;border-top:1px solid #aeaeae}
.tLeft_myMeal{text-align:left; width:325px; height:40px;float:left; font-size:14px; }
.tRight_myMeal{text-align:right; width:325px;height:40px;float:left;}
.account_table{width:670px; float:left; margin-top:10px;}
.meal_table{float:left; text-align:left; border-collapse:collapse}
.meal_table a{color:#0ca7a1; margin-right:15px; text-decoration:none;}
.meal_table th{background:#e7e7e7; height:30px; line-height:40px; color:#5a5a5a; text-align:center; font-size:14px; border:1px solid #ddd; }
.meal_table td{color:#5a5a5a; text-align:center; font-size:13px; padding:10px 0;border:1px solid #ddd;}
.even{background:#f7f7f7}
.odd{background:#fff}
.transaction_record{width:670px; float:left; margin-top:40px;}
.transaction_record_main{width:670px; float:left;}
.tab_menu_record{width:670px; float:left}
.tab_menu_record ul{margin:0;padding:0px; border-bottom:1px solid #0ca7a1; height:40px;}
.tab_menu_record li{width:106px; margin-right:2px; float:left; background:#aeaeae;height:40px; line-height:40px; display:block; cursor:pointer; color:#fff; font-size:14px;}
.tab_menu_record li.selected_record{background:#0ca7a1}
.tab_box_record{width:670px; float:left;}
.hide_record{display:none;}

/*----------------recharge---------------*/
.recharge{width:670px; float:left; margin-top:20px;}
.recharge_main{width:670px; float:left}
.recharge_main li{float:left;}
.tgrey_recharge{width:80px; text-align:right; color:#aeaeae; font-size:13px; height:30px; line-height:30px;}
.tblack_recharge{width:580px; text-align:left; font-size:13px; color:#5a5a5a;height:30px; line-height:30px; padding-left:10px}
.Input_recharge{width:580px; text-align:left;height:40px; line-height:30px; padding-left:10px}
.inputMin_informationModify{width:218px; height:28px; border:1px solid #aeaeae; padding-left:10px; font:13px/28px "微软雅黑"; color:#000}
.thirdParty_payment{width:670px; padding-top:10px;}
.tgrey_thirdParty{width:80px; text-align:right; color:#aeaeae; font-size:13px; float:left; height:39px; line-height:13px;}
.radio_thirdParty{width:580px;float:left; height:39px;text-align:left; padding-left:10px}
.img_bank{border:1px solid #aeaeae; margin-left:10px; margin-right:18px; margin-bottom:15px; width: 140px;}
.savings_card{width:580px;float:left;text-align:left; padding-left:10px}
.btn_recharge{width:500px; padding-top:30px; padding-left:90px; text-align:left}
.btn_recharge a{background:url(../images/button/btn_register_login.png) no-repeat; height:39px; width:158px; display:block; text-align:center; line-height:39px; color:#fff; text-decoration:none}
.order_success{background:url(../images/icon/right.png) 10px center no-repeat; width:620px; height:40px; padding-left:50px; text-align:left; line-height:40px; font-size:24px; font-weight:500; color:#0ca7a1;}



/*----------------mymeal---------------*/
.meal_list{width:670px; height:80px; padding:10px 0; border-bottom:1px solid #aeaeae}
.img_meal{width:80px; height:80px; float:left}
.meal_information{width:480px; float:left}
.tblackName_meal{width:460px; text-align:left; padding-left:20px; font-size:16px; font-weight:500; color:#5a5a5a; height:30px; line-height:30px;float:left}
.tName_meal{width:460px; text-align:left; padding-left:20px; font-size:13px; color:#5a5a5a; height:25px; line-height:25px;float:left}
.tgreyName_Meal{color:#aeaeae}
.btn_meal{width:90px; height:80px; padding:0 10px; font-size:13px; float:left}
.btn_meal a{text-decoration:none;text-align:center; line-height:30px; color:#fff;display:block;width:90px; height:30px; }
.btnMeal_information{background:#aeaeae; margin:10px 0;}
.btnMeal_buy{background:#ff9600;}

           
           
           
/*----------------recgarge_success---------------*/
.recharge_success{width:568px; float:left; background:#f3fbfa; border:1px solid #0ca7a1; padding:30px 0px 30px 100px;}
.recharge_failure{width:568px; float:left; background:#fff9fb; border:1px solid #f58ba6; padding:30px 0px 30px 100px;}
.img_success{width:72px; float:left; margin-right:20px; display:inline}
.recharge_success_main{width:476px;float:left;}
.tgreen_success{width:476px; float:left; text-align:left; font-size:30px; font-weight:500; color:#5a5a5a; height:40px; line-height:40px;}
.tgrey_success{width:80px; text-align:left;float:left; color:#aeaeae; font-size:13px; height:30px; line-height:30px;}
.tblack_success{width:396px; text-align:left;float:left; font-size:13px; color:#5a5a5a;height:30px; line-height:30px;}
           
           
