@charset "utf-8";

/*----------------index_header---------------height:128px; border-bottom:2px solid #ddd*/
body{background:#ededed}
.index_header{width:100%; float:left;}
.index_health_header{width:100%;  float:left;}
.bgTop_index{background:#454c52; width:100%; height:28px; float:left}
.index_out{width:1000px; margin:0 auto; font:13px/26px "微软雅黑" ;}
.index_out li{float:left; height:28px;}
.index_out li a{color:#dde0e5; text-decoration:none;}
.index_out li a:hover{color:#fff;}
.index_wechat{background:url(images/wechat.jpg) left center no-repeat;text-align:left; width:70px; padding-left:30px;}
.index_bolg{background:url(images/micro_blog.jpg) left center no-repeat; text-align:left; width:70px; padding-left:30px;}
.index_service_phone{background:url(images/service_phone.jpg) left center no-repeat; text-align:left; width:500px; padding-left:30px; color:#dde0e5;}
.index_username{width:180px; text-align:right;color:#dde0e5; padding-right:10px}
.index_signout{background:url(images/sign_out.jpg) left center no-repeat; width:80px;text-align:right;}

/*----------------indexMenu---------------*/
.logo_menu{width:100%; height:100px; float:left;background:#fff;}
.bg_logo{background:url(images/logo.png) 22px center no-repeat; width:1044px; height:100px; margin:0 auto;}
.index_menu{width:420px; float:right; font:18px/100px "微软雅黑"}
.index_menu li{width:88px; float:left; margin-left:12px; display:inline; text-align:center; height:100px;}
.index_menu li a{color:#5a5a5a; text-decoration:none; font-weight:500; display:block;width:88px;}
.index_menu li a:hover{color:#0ca7a1; text-decoration:none; font-weight:500;border-bottom:2px solid #0ca7a1}
.index_menu .activation a{color:#0ca7a1; text-decoration:none; font-weight:500;border-bottom:2px solid #0ca7a1}

/*----------------indexMenu_secondary---------------*/
.indexMenu_secondary{width:100%; height:40px; float:left;background:#16bab1; border-top:3px solid #1ba79f;}
.indexMenu_secondary_main{width:1000px; margin:0 auto; font:13px/25px "微软雅黑"}
.indexMenu_secondary_main li{width:76px; float:left; margin-right:4px; display:inline; text-align:center; height:25px; margin-top:10px;}
.indexMenu_secondary_main li a{color:#fff; text-decoration:none; font-weight:500; display:block;width:76px;}
.indexMenu_secondary_main li a:hover{color:#16bab1; background:url(images/bg_menu_index.png) no-repeat; font-weight:500;}
.indexMenu_secondary_main .indexMenu_secondary_activation a{color:#16bab1; background:url(images/bg_menu_index.png) no-repeat;text-decoration:none; font-weight:500;}

/*----------------index_left---------------*/
.index_health_middle{width:100%; float:left;}
.index_health_main{width:1000px; margin:20px auto}
.index_health_left{width:240px; float:left; display:inline; background:#fff; margin-right:10px; padding:20px; }
.wInformation li{float:left; font-family:"微软雅黑";}
.wInformation_img{width:80px; height:80px; margin-right:10px; display:inline}
.tGrayMax{width:150px; height:28px; text-align:left; color:#aeaeae; font-size:24px; font-weight:500; line-height:28px;}
.tGrayMin{width:150px; height:20px; text-align:left; color:#aeaeae; font-size:13px;line-height:24px;}
.wMedical a{width:117px; height:38px; display:block; background:#0ca7a1; color:#fff; font-size:14px; line-height:38px; text-decoration:none; margin:20px 6px 20px 0;}
.wMedical a:hover{width:117px; height:38px; display:block; background:#049892; color:#fff; font-size:14px; line-height:38px;}
.wHome a{width:117px; height:38px; display:block; background:#ff9600; color:#fff; font-size:14px; line-height:38px; text-decoration:none; margin:20px 0;}
.wHome a:hover{width:117px; height:38px; display:block; background:#e78801; color:#fff; font-size:14px; line-height:38px; }
.wBalance{font-size:13px; color:#aeaeae; border-bottom:1px solid #aeaeae; padding-bottom:10px; width:240px; text-align:left}
.wBalance a{color:#ff9600; text-decoration:underline}
.wBalance a:HOVER{cursor: pointer;}
.wMoney{color:#5a5a5a; font-size:20px; font-weight:500; padding-right:5px;}
.tGray{color:#aeaeae; font-size:13px; text-align:left;  line-height:30px; margin-top:15px;width:240px;} 
.wtBlack{color:#5a5a5a; font-size:13px;text-align:left; height:20px; line-height:20px; width:240px;}
.wtaGreen{width:240px; text-align:left; padding-top:15px; padding-bottom:10px; border-bottom:1px solid #aeaeae;}
.wtaGreen a{color:#0ca7a1; font-size:13px; text-decoration: none; }
.wtaGreen a:HOVER{cursor: pointer;}
/*----------------index_bottom---------------*/
.index_health_bottom{width:100%; height:270px; padding-top:50px; float:left; background:#000; margin-top:20px; font-family:"微软雅黑"; color:#5a5a5a}
.bottom_main{width:1000px; margin:0 auto;}
.bottom_contact,.bottom_concern{width:300px; float:left; text-align:left}
.tWhite{color:#fff; font-size:13px; padding-bottom:10px; width:300px;}
.tGray_bottom{width:300px; font-size:12px; text-align:left; height:25px; line-height:25px;}


.tGreen{width:140px; height:32px; text-align:left; color:#0ca7a1; font-size:24px; font-weight:500; line-height:30px; padding-right:10px}
.bottom_help{width:300px; float:left; text-align:left; display:inline; margin:0 50px;}
.bottom_help li,.bottom_concern li{float:left;}
.bottom_help li a{font-size:13px; text-decoration:none; color:#5a5a5a}
.bottom_help li a:hover{text-decoration:underline}
.taqueation_left{width:100px; height:25px; line-height:25px; text-align:left;}
.taqueation_middle{width:100px; height:25px; line-height:25px; text-align:center;}
.taqueation_right{width:100px; height:25px; line-height:25px; text-align:right;}
.wechat_code{background:url(../images/health/wechat_code.png) center 5px no-repeat; width:122px; height:15px; margin-right:51px; margin-left:5px; display:inline; text-align:center; padding-top:135px; font-size:13px;}
.blog_code{background:url(../images/health/blog_code.png) center 5px no-repeat; width:122px; height:15px; text-align:center; padding-top:135px; font-size:13px;}
.copyright{width:1000px; float:left; margin-top:20px; border-top:1px solid #5a5a5a; padding-top:10px; text-align:left; font-size:13px;}

/*----------------index_right---------------*/
.index_health_right{width:670px; padding:20px; float:left; background:#fff}
.index_health_right iframe{width:670px; min-height:100%; }


