<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppMapper">
	
	<!-- 查询亲情号码 -->
	<resultMap id="mRelativePhoneMap" 				type="relativePhoneModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="type"  					column="relativeType"/>
		<result property="name"  					column="relativeName"/>
		<result property="cellPhone"  				column="relativeCellPhone"/>
		<result property="tel"  					column="relativeTel"/>
		<result property="address"  				column="relativeAddr"/>
	</resultMap>
    
    <resultMap id="mUserInfoMap"          type="userModel">
      <result property="userId"           column="userId"/>
      <result property="name"             column="name"/>
      <result property="gender"           column="gender"/>
      <result property="birthdate"        column="birthdate"/>
      <result property="cellphone"        column="cellphone"/>
      <result property="credentialType"   column="credentialType"/>
      <result property="credentialNo"     column="credentialNo"/>
      <result property="isSoldier"        column="isSoldier"/>
      <result property="isDisablity"      column="isDisablity"/>
      <result property="height"           column="height"/>
      <result property="weight"           column="weight"/>
      <result property="nationality"      column="nationality"/>
      <result property="nativePlace"      column="nativePlace"/>
      <result property="marriageStatus"   column="marriageStatus"/>
      <result property="householdType"    column="householdType"/>
      <result property="education"        column="policticsStatus"/>
      <result property="homePhone"        column="homePhone"/>
      <result property="homeAddress"      column="homeAddress"/>
      <result property="workingAge"       column="workingAge"/>
      <result property="companyName"      column="companyName"/>
      <result property="companyAddress"   column="companyAddress"/>
      <result property="sysId"            column="userSysId"/>
      <result property="parentId"         column="userParentId"/>
    </resultMap>

    <resultMap id="mServiceMap"           type="serviceModel">
      <result property="id"               column="id"/>
      <result property="type"             column="serviceType"/>
      <result property="name"             column="serviceName"/>
      <result property="content"          column="serviceContent"/>
      <result property="creatorId"        column="serviceCreatorId"/>
      <result property="sdate"            column="servcieStartDate"/>
      <result property="edate"            column="serviceDuration"/>
      <result property="createTime"	      column="serviceCreateTime"/>
      <result property="memo"             column="serviceMemo"/>
      <result property="icon"             column="serviceIcon"/>
    </resultMap>
               
    <resultMap id="mActivityMap"           type="activityModel">
      <result property="id"               column="activityType"/>
      <result property="type"             column="serviceType"/>
      <result property="name"             column="activityName"/>
      <result property="content"          column="activityContent"/>
      <result property="creatorId"        column="activityCreatorId"/>
      <result property="sdate"            column="activityCreateTime"/>
      <result property="edate"            column="activityStartDate"/>
      <result property="createTime"	      column="activityDuration"/>
      <result property="memo"             column="activityMemo"/>
      <result property="icon"             column="activityIcon"/>
    </resultMap>
	
	<!-- 查询亲情号码总数 -->
	<select id="AppMapper.queryRelativePhoneInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt 
			from tab_relative_phone a
			where a.userId =  #{userId}
		]]>
	</select>
	
	
	<!-- 分页查询亲情号码 -->
	<select id="AppMapper.queryRelativePhoneInfo" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a.id, a.userId, a.relativeName, a.relativeType, a.relativeCellPhone, a.relativeTel, a.relativeAddr
			from tab_relative_phone a
			where a.userId =  #{userId}
			order by a.relativeName
			limit #{startNum}, #{rows}
		]]>
	</select>
  
    <select id="AppMapper.queryUserInfoWithUserNamePass" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, b.name, b.gender, b.birthdate, b.cellphone, b.email, b.credentialType, 
            b.isSoldier, b.isDisablity, b.height, b.weight, b.nationality, b.nativePlace, 
            b.marriageStatus, b.householdType, b.education, b.policticsStatus, b.homePhone, 
            b.homeAddress, b.workingAge, b.salary, b.companyName, b.companyAddress
          from tab_user a
          inner join tab_user_info b on b.userId=a.userId
          where a.userName = #{userName}
            and a.userPass = #{userPass}
        ]]>
    </select>
    
    <select id="AppMapper.queryUserInfoWithUserId" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, b.name, b.gender, b.birthdate, b.cellphone, b.email, b.credentialType, 
            b.isSoldier, b.isDisablity, b.height, b.weight, b.nationality, b.nativePlace, 
            b.marriageStatus, b.householdType, b.education, b.policticsStatus, b.homePhone, 
            b.homeAddress, b.workingAge, b.salary, b.companyName, b.companyAddress
          from tab_user a
          inner join tab_user_info b on b.userId=a.userId
          where a.userId =  #{userId}
        ]]>
    </select>
    
    <select id="AppMapper.queryMyNurserWithUserId" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, b.name, b.gender, b.birthdate, b.cellphone, b.email, b.credentialType, 
            b.isSoldier, b.isDisablity, b.height, b.weight, b.nationality, b.nativePlace, 
            b.marriageStatus, b.householdType, b.education, b.policticsStatus, b.homePhone, 
            b.homeAddress, b.workingAge, b.salary, b.companyName, b.companyAddress
          from tab_user_nurse_relation c
          inner join tab_user a on a.userId = c.nurseId
          inner join tab_user_info b on b.userId = a.userId
          where c.userId =  #{userId}
        ]]>
    </select>
    
	 <!-- 查询服务总数 -->
    <select id="AppMapper.queryServiceCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt 
        from tab_service t
        where (t.serviceType=2 and t.serviceCreatorId=#{creatorId})
           or (t.serviceTYpe<>2)
      ]]>
    </select>
    
    
    <!-- 分页查询服务 仅显示关联医护联系人创建的服务和平台服务 -->
    <select id="AppMapper.queryService"   parameterType="queryModel"  resultMap="mServiceMap">
      <![CDATA[
        select a.id, a.serviceType, a.serviceName, a.serviceContent, a.serviceCreatorId, a.serviceCreateTime, 
               a.servcieStartDate, a.serviceDuration, a.serviceMemo, a.serviceIcon
        from tab_service t
        where (a.serviceType=2 and a.serviceCreatorId=#{creatorId}) 
           or (a.serviceTYpe<>2)
        order by a.serviceCreateTime
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
	 <!-- 查询活动总数 -->
    <select id="AppMapper.queryActivityCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt 
        from tab_service t
        where (t.serviceType=2 and t.serviceCreatorId=#{creatorId})
           or (t.serviceTYpe<>2)
      ]]>
    </select>
    
    
    <!-- 分页查询活动 仅显示关联医护联系人创建的活动和平台活动 -->     
    <select id="AppMapper.queryActivity"   parameterType="queryModel"  resultMap="mActivityMap">
      <![CDATA[
        select a.activityId, a.activityType, a.activityName, a.activityContent, a.activityCreatorId, a.activityCreateTime, 
               a.activityStartDate, a.activityDuration, a.activityMemo, a.activityIcon
        from tab_activity t
        where (a.serviceType=2 and a.activityCreatorId=#{creatorId}) 
           or (a.serviceTYpe<>2)
        order by a.serviceCreateTime
        limit #{startNum}, #{rows}
      ]]>
    </select>
	
</mapper>
