<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppMapper">
	
	<!-- 查询亲情号码 -->
	<resultMap id="mRelativePhoneMap" 				type="relativePhoneModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="type"  					column="relativeType"/>
		<result property="name"  					column="relativeName"/>
		<result property="cellPhone"  				column="relativeCellPhone"/>
		<result property="tel"  					column="relativeTel"/>
		<result property="address"  				column="relativeAddr"/>
	</resultMap>
    
    <resultMap id="mUserInfoMap"          type="userModel">
      <result property="userId"           column="userId"/>
      <result property="name"             column="name"/>
      <result property="gender"           column="gender"/>
      <result property="birthdate"        column="birthdate"/>
      <result property="cellphone"        column="cellphone"/>
      <result property="credentialType"   column="credentialType"/>
      <result property="credentialNo"     column="credentialNo"/>
      <result property="isSoldier"        column="isSoldier"/>
      <result property="isDisablity"      column="isDisablity"/>
      <result property="height"           column="height"/>
      <result property="weight"           column="weight"/>
      <result property="nationality"      column="nationality"/>
      <result property="nativePlace"      column="nativePlace"/>
      <result property="marriageStatus"   column="marriageStatus"/>
      <result property="householdType"    column="householdType"/>
      <result property="education"        column="policticsStatus"/>
      <result property="homePhone"        column="homePhone"/>
      <result property="homeAddress"      column="homeAddress"/>
      <result property="workingAge"       column="workingAge"/>
      <result property="companyName"      column="companyName"/>
      <result property="companyAddress"   column="companyAddress"/>
      <result property="sysId"            column="userSysId"/>
      <result property="parentId"         column="userParentId"/>
    </resultMap>

    <resultMap id="mServiceMap"           type="serviceModel">
      <result property="id"               column="id"/>
      <result property="type"             column="serviceType"/>
      <result property="name"             column="serviceName"/>
      <result property="creatorId"        column="serviceCreatorId"/>
      <result property="sdate"            column="serviceStartDate"/>
      <result property="edate"            column="serviceDuration"/>
      <result property="createTime"	      column="serviceCreateTime"/>
      <result property="memo"             column="serviceMemo"/>
      <result property="icon"             column="serviceIcon"/>
    </resultMap>
               
    <resultMap id="mActivityMap"           type="activityModel">
      <result property="id"               column="activityId"/>
      <result property="type"             column="activityType"/>
      <result property="name"             column="activityName"/>
      <result property="creatorId"        column="activityCreatorId"/>
      <result property="sdate"            column="activityCreateTime"/>
      <result property="edate"            column="activityStartDate"/>
      <result property="createTime"	      column="activityDuration"/>
      <result property="memo"             column="activityMemo"/>
      <result property="icon"             column="activityIcon"/>
    </resultMap>
    
    <resultMap id="mNewsMap"           type="newsModel">
      <result property="id"            column="id"/>
      <result property="title"         column="newsTitle"/>
      <result property="createTime"    column="newsCreateTime"/>
      <result property="icon"          column="newsIcon"/>
    </resultMap>
    
    <resultMap id="mDoctorAdviceMap"      type="doctorAdviceModel">
      <result property="id"               column="id"/>
      <result property="userId"             column="userId"/>
      <result property="typeId"             column="adviceTypId"/>
      <result property="typeName"          column="typeName"/>
      <result property="adviceTime"        column="adviceTime"/>
      <result property="adviceContent"            column="adviceContent"/>
    </resultMap>
    
    <resultMap id="mSportItemMap"      		type="sportItemModel">
      <result property="id"               	column="id"/>
      <result property="sportName"        	column="sportName"/>
      <result property="caloriePerMinute" 	column="caloriePerMinute"/>
    </resultMap>
    
    <resultMap id="mFoodItemMap"      			type="foodItemModel">
      <result property="id"               		column="id"/>
      <result property="foodName"        		column="foodName"/>
      <result property="caloriePerHundredGram" 	column="caloriePerHundredGram"/>
      <result property="foodType"        		column="foodType"/>
      <result property="foodTypeName" 			column="foodTypeName"/>
    </resultMap>

	<!-- 查询亲情号码总数 -->
	<select id="AppMapper.queryRelativePhoneInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt 
			from tab_relative_phone a
			where a.userId =  #{userId}
		]]>
	</select>
	
	
	<!-- 分页查询亲情号码 -->
	<select id="AppMapper.queryRelativePhoneInfo" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a.id, a.userId, a.relativeName, a.relativeType, a.relativeCellPhone, a.relativeTel, a.relativeAddr
			from tab_relative_phone a
			where a.userId =  #{userId}
			order by a.relativeName
			limit #{startNum}, #{rows}
		]]>
	</select>
  
    <select id="AppMapper.queryUserInfoWithUserNamePass" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, a.name, a.gender, a.birthdate, a.cellphone, a.email, a.credentialType, 
            a.isSoldier, a.isDisablity, a.height, a.weight, a.nationality, a.nativePlace, 
            a.marriageStatus, a.householdType, a.education, a.policticsStatus, a.homePhone, 
            a.homeAddress, a.workingAge, a.salary, a.companyName, a.companyAddress
          from tab_user a
          where a.userName = #{userName}
            and a.userPass = #{userPass}
        ]]>
    </select>
    
    <select id="AppMapper.queryUserInfoWithUserId" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, a.name, a.gender, a.birthdate, a.cellphone, a.email, a.credentialType, 
            a.isSoldier, a.isDisablity, a.height, a.weight, a.nationality, a.nativePlace, 
            a.marriageStatus, a.householdType, a.education, a.policticsStatus, a.homePhone, 
            a.homeAddress, a.workingAge, a.salary, a.companyName, a.companyAddress
          from tab_user a
          where a.userId =  #{userId}
	    ]]>
    </select>
    
    <select id="AppMapper.queryMyNurserWithUserId" parameterType="queryModel" resultMap="mUserInfoMap">
        <![CDATA[
          select a.userId, a.userParentId, a.userSysId, a.name, a.gender, a.birthdate, a.cellphone, a.email, a.credentialType, 
            a.isSoldier, a.isDisablity, a.height, a.weight, a.nationality, a.nativePlace, 
            a.marriageStatus, a.householdType, a.education, a.policticsStatus, a.homePhone, 
            a.homeAddress, a.workingAge, a.salary, a.companyName, a.companyAddress
          from tab_user_nurse_relation c
          inner join tab_user a on a.userId = c.nurseId
          where c.userId =  #{userId}
        ]]>
    </select>
    
	 <!-- 查询服务总数 -->
    <select id="AppMapper.queryServiceCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt 
        from tab_service t
        where (t.serviceType=2 and t.serviceCreatorId in (select nurseId from tab_user_nurse_relation b where b.userId=#{creatorId}))
           or (t.serviceTYpe<>2)
      ]]>
    </select>
    
    
    <!-- 分页查询服务 仅显示关联医护联系人创建的服务和平台服务 -->
    <select id="AppMapper.queryService"   parameterType="queryModel"  resultMap="mServiceMap">
      <![CDATA[
        select a.id, a.serviceType, a.serviceName, a.serviceCreatorId, a.serviceCreateTime, 
               a.serviceStartDate, a.serviceDuration, a.serviceMemo, a.serviceIcon
        from tab_service a
        where (a.serviceType=2 and a.serviceCreatorId in (select nurseId from tab_user_nurse_relation b where b.userId=#{creatorId})) 
           or (a.serviceTYpe<>2)
        order by a.serviceCreateTime desc
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
	 <!-- 查询活动总数 -->
    <select id="AppMapper.queryActivityCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt 
        from tab_activity t
        where (t.activityType=2 and t.activityCreatorId in (select nurseId from tab_user_nurse_relation b where b.userId=#{creatorId}))
           or (t.activityType<>2)
      ]]>
    </select>
    
    
    <!-- 分页查询活动 仅显示关联医护联系人创建的活动和平台活动 -->     
    <select id="AppMapper.queryActivity"   parameterType="queryModel"  resultMap="mActivityMap">
      <![CDATA[
        select a.activityId, a.activityType, a.activityName, a.activityCreatorId, a.activityCreateTime, 
               a.activityStartDate, a.activityDuration, a.activityMemo, a.activityIcon
        from tab_activity a
        where (a.activityType=2 and a.activityCreatorId in (select nurseId from tab_user_nurse_relation b where b.userId=#{creatorId})) 
           or (a.activityType<>2)
        order by a.activityCreateTime desc
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
	 <!-- 查询新闻资讯总数 -->
    <select id="AppMapper.queryNewsCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt 
        from tab_news t
      ]]>
    </select>
    
    
    <!-- 分页查询新闻资讯 -->     
    <select id="AppMapper.queryNews"   parameterType="queryModel"  resultMap="mNewsMap">
      <![CDATA[
        select a.id, a.newsTitle, date_format(a.newsCreateTime, '%Y-%m-%d %H:%i:%S') as newsCreateTime, newsIcon
        from tab_news a
        order by a.newsCreateTime desc
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
	 <!-- 查询医生建议总数 -->
    <select id="AppMapper.queryDoctorAdviceCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt
        from (select a.id, a.userId, a.adviceTypId, b.typeName, max(a.adviceTime) as adviceTime, a.adviceContent
    		  from tab_doctor_advice a
    		  inner join tab_dict_doctor_advice_type b on b.typeId=a.adviceTypId
    		  where a.userId=#{userId}
    		  group by a.adviceTypId
    		 ) aa
      ]]>
    </select>
    
    
    <!-- 查询医生建议 仅显示每种类型建议的最新的一个建议 -->     
    <select id="AppMapper.queryDoctorAdvice"   parameterType="queryModel"  resultMap="mDoctorAdviceMap">
      <![CDATA[
        select a.id, a.userId, a.adviceTypId, b.typeName, max(a.adviceTime) as adviceTime, a.adviceContent
        from tab_doctor_advice a
        inner join tab_dict_doctor_advice_type b on b.typeId = a.adviceTypId
        where a.userId = #{userId}
        group by a.adviceTypId
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
	 <!-- 查询医生建议执行情况总数 -->
    <select id="AppMapper.queryDoctorAdvicePerformanceCnt"  parameterType="queryModel"  resultType="long">
      <![CDATA[
        select count(1) as cnt
        from tab_doctor_advice_performace a
        where a.doctorAdviceId = #{adviceId}
      ]]>
    </select>
    
    <!-- 查询医生建议执行情况 -->     
    <select id="AppMapper.queryDoctorAdvicePerformance"   parameterType="queryModel"  resultMap="mDoctorAdviceMap">
      <![CDATA[
        select a.id, a.doctorAdviceId, a.doctorAdvicePerformace, a.recordTime
        from tab_doctor_advice_performace a
        where a.doctorAdviceId = #{adviceId}
        order by a.recordTime
        limit #{startNum}, #{rows}
      ]]>
    </select>
    
    <!-- 查询服务详细情况-->     
    <select id="AppMapper.queryServiceDetail"   parameterType="queryModel"  resultType="string">
      <![CDATA[
        select a.serviceContent
        from tab_service a
        where a.id = #{id}
      ]]>
    </select>
    
    <!-- 查询活动详细情况-->     
    <select id="AppMapper.queryActivityDetail"   parameterType="queryModel"  resultType="string">
      <![CDATA[
        select a.activityContent
        from tab_activity a
        where a.activityId = #{id}
      ]]>
    </select>

    <!-- 查询新闻详细情况-->     
    <select id="AppMapper.queryNewsDetail"   parameterType="queryModel"  resultType="string">
      <![CDATA[
        select a.newsContent
        from tab_news a
        where a.id = #{id}
      ]]>
    </select>
	
	<select id="AppMapper.queryBloodGlucoseId" parameterType="bloodGlucoseModel" resultType="long">
      <![CDATA[
        select case when count(id) > 0 then id else 0 end as id
        from tab_blood_glucose a
        where a.userId=#{userId} and a.takeTime=#{takeDate}
      ]]>	
	</select>
	
	<insert id="AppMapper.insertBloodGlucose" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	    INSERT INTO tab_blood_glucose(userId, bloodGlucose1, bloodGlucose2, takeTime1, takeTime2, takeTime) 
	    VALUES (#{userId}, #{bloodGlucose1}, #{bloodGlucose2}, #{takeTime1}, #{takeTime2}, #{takeDate})
	  ]]>
	</insert>

	<update id="AppMapper.updateBloodGlucose" parameterType="bloodGlucoseModel">
	  UPDATE tab_blood_glucose SET
	  <if test="bloodGlucose1 > 0">
		bloodGlucose1 = #{bloodGlucose1},
		takeTime1 = #{takeTime1} ,
	  </if>
	  <if test="bloodGlucose2 > 0">
		bloodGlucose2 = #{bloodGlucose2},
		takeTime2 = #{takeTime2} ,
	  </if>
	  userId=#{userId}	  	
	  WHERE id = #{id} 
	</update>		
	
	<select id="AppMapper.queryEarTemperatureId" parameterType="earTemperatureModel" resultType="long">
      <![CDATA[
        select count(1)
        from tab_ear_thermometer a
        where a.userId=#{userId} and a.takeTime=#{takeTime} and a.temperature=#{temperature}
      ]]>	
	</select>
	
	<insert id="AppMapper.insertEarTemperature" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	    INSERT INTO tab_ear_thermometer(userId, temperature, takeTime) 
	    VALUES (#{userId}, #{temperature}, #{takeTime})
	  ]]>
	</insert>	

	<select id="AppMapper.queryBloodPressureId" parameterType="bloodPressureModel" resultType="long">
      <![CDATA[
        select count(1)
        from tab_blood_pressure a
        where a.userId=#{userId} and a.takeTime=#{takeTime}
      ]]>	
	</select>
	
	<insert id="AppMapper.insertBloodPressure" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	    INSERT INTO tab_blood_pressure(userId, highBloodPressure, lowBloodPressure, pulse, takeTime) 
	    VALUES (#{userId}, #{dbp}, #{sbp}, #{pulse}, #{takeTime})
	  ]]>
	</insert>	
	
    <select id="AppMapper.getSportItemVersion"   parameterType="queryModel"  resultType="string">
      <![CDATA[
        select date_format(a.version, '%Y-%m-%d %H:%i:%S')
        from tab_dict_ver a
        where a.flag = 1
      ]]>
    </select>	
	
    <select id="AppMapper.getFoodItemVersion"   parameterType="queryModel"  resultType="string">
      <![CDATA[
        select date_format(a.version, '%Y-%m-%d %H:%i:%S')
        from tab_dict_ver a
        where a.flag = 2
      ]]>
    </select>	

    <select id="AppMapper.getSportItemsCnt"  parameterType="queryModel"  resultType="int">
      <![CDATA[
        select count(1) as cnt
        from tab_dict_sport_item a
        inner join tab_dict_sport_type b on b.id=a.sportType
      ]]>
    </select>
    
    <select id="AppMapper.getSportItems"   parameterType="queryModel"  resultMap="mSportItemMap">
      <![CDATA[
        select a.id, a.sportName, a.caloriePerMinute, a.sportIcon, a.sportType, b.name as sportTypeName, b.icon as sportTypeIcon
        from tab_dict_sport_item a
        inner join tab_dict_sport_type b on b.id=a.sportType
        order by a.id
        limit #{startNum}, #{rows}
      ]]>
    </select>    

    <select id="AppMapper.getFoodItemsCnt"  parameterType="queryModel"  resultType="int">
      <![CDATA[
        select count(1) as cnt
        from tab_dict_food a
		inner join tab_dict_food_type b on b.id=a.foodType
      ]]>
    </select>
        
    <select id="AppMapper.getFoodItems"   parameterType="queryModel"  resultMap="mFoodItemMap">
      <![CDATA[
        select a.id, a.foodName, a.caloriePerHundredGram, a.foodIcon, a.foodType, b.`name` as foodTypeName, b.icon as foodTypeIcon 
        from tab_dict_food a
		inner join tab_dict_food_type b on b.id=a.foodType
        order by a.id
        limit #{startNum}, #{rows}
      ]]>
    </select>    
	
	<insert id="AppMapper.insertSportResult" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
	    insert into tab_sport_record(userId, sportItemId, sportDuration, sportTime)
		values(#{userId},#{sportItemId},#{sportDuration},#{sportTime})
	  ]]>
	</insert>  
  
    <delete id="AppMapper.deleteSportResult">
      <![CDATA[
        DELETE FROM tab_sport_record 
        WHERE id = #{id} 
      ]]>
    </delete>	  
    
	<insert id="AppMapper.insertMealResult" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_food_record(userId, foodItem, amount, mealFlag, mealTime)
		values(#{userId},#{foodItemId},#{foodAmount},#{mealFlag},#{mealTime})
	  ]]>
	</insert>    
  
    <delete id="AppMapper.deleteMealResult">
      <![CDATA[
        DELETE FROM tab_food_record 
        WHERE id = #{id} 
      ]]>
    </delete>  

	<insert id="AppMapper.insertMentalStatus" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_mental_record(userId, mentalStatus, recordTime)
		values (#{userId}, #{mentalStatus}, #{recordTime})
	  ]]>
	</insert>    
  
    <delete id="AppMapper.deleteMentalStatus">
      <![CDATA[
        DELETE FROM tab_mental_record 
        WHERE id = #{id} 
      ]]>
    </delete>  
    
    <!-- 加载快乐驿站 圈子 -->
    <resultMap id="mHappyHostRet"      			type="happyHostModel">
      <result property="id"               		column="id"/>
      <result property="title"        			column="title"/>
      <result property="content" 				column="content"/>
      <result property="url"        			column="url"/>
      <result property="cnt" 					column="cnt"/>
    </resultMap>
    
    <!-- 加载快乐驿站 话题 -->
    <resultMap id="mHappyHostPostRet"      		type="happyHostPostModel">
      <result property="id"               		column="id"/>
      <result property="happyHostId"        	column="happyHostId"/>
      <result property="title"        			column="title"/>
      <result property="content" 				column="content"/>
      <result property="stime"        			column="stime1"/>
      <result property="laudCnt" 				column="laudCnt"/>
      <result property="replyCnt" 				column="replyCnt"/>
      <result property="reportFlag" 			column="reportFlag"/>
      <result property="photo" 					column="photo"/>
      <result property="laud" 					column="laud"/>
    </resultMap>
    
     
    <!-- 加载快乐驿站 回复 -->
    <resultMap id="mHappyHostReplyRet"      	type="happyHostReplyModel">
      <result property="id"               		column="id"/>
      <result property="postId"        			column="postId"/>
      <result property="content" 				column="content"/>
      <result property="stime"        			column="stime1"/>
      <result property="reportFlag" 			column="reportFlag"/>
      <result property="photo" 					column="photo"/>
    </resultMap>
    
    <!-- 加载快乐驿站 圈子总数 -->
    <select id="AppMapper.queryHappyHostInfoCnt"   parameterType="queryModel" resultType="long">
      <![CDATA[
        SELECT count(1) as cnt 
        FROM tab_dict_happy_host a
      ]]>
    </select> 
    
    <!-- 加载快乐驿站 圈子分页 -->
    <select id="AppMapper.queryHappyHostInfo"   parameterType="queryModel"  resultMap="mHappyHostRet">
      <![CDATA[
        SELECT * 
        FROM tab_dict_happy_host a
		order by a.id
        limit #{startNum}, #{rows}
      ]]>
    </select> 
    
    
    <!-- 加载快乐驿站 话题总数 -->
    <select id="AppMapper.queryHappyHostPostInfoCnt"   parameterType="queryModel" resultType="long">
      <![CDATA[
        SELECT count(1) as cnt 
		FROM tab_happy_host_post a
		LEFT JOIN tab_user b on a.userId=b.userId
		WHERE a.happyHostId = #{happyHostId}
      ]]>
    </select> 
     
    <!-- 加载快乐驿站 圈子分页 -->
    <select id="AppMapper.queryHappyHostPostInfo"   parameterType="queryModel"  resultMap="mHappyHostPostRet">
      <![CDATA[
        SELECT a.*, date_format(a.stime, '%m-%d %H:%i') as stime1, b.userName, b.photo, 0 as laud
		FROM tab_happy_host_post a
		LEFT JOIN tab_user b on a.userId=b.userId
		WHERE a.happyHostId = #{happyHostId}
		order by a.stime desc
        limit #{startNum}, #{rows}
      ]]>
    </select> 
    
     
    <!-- 加载快乐驿站 圈子分页 -->
    <select id="AppMapper.queryHappyHostZrPostInfo"   parameterType="queryModel"  resultMap="mHappyHostPostRet">
      <![CDATA[
        SELECT a.*, date_format(a.stime, '%m-%d %H:%i') as stime1, b.userName, b.photo, 0 as laud
		FROM tab_happy_host_post a
		LEFT JOIN tab_user b on a.userId=b.userId
		WHERE a.happyHostId = #{happyHostId}
		order by a.replyCnt desc
        limit #{startNum}, #{rows}
      ]]>
    </select> 
    
    <!-- 根据ID来查询明细 -->
     <select id="AppMapper.queryHappyHostPostInfoById"   parameterType="queryModel"  resultMap="mHappyHostPostRet">
      <![CDATA[
        SELECT a.*, date_format(a.stime, '%m-%d %H:%i') as stime1, b.userName, b.photo, IFNULL(c.id, -1) as laud
		FROM tab_happy_host_post a
		LEFT JOIN tab_user b on a.userId=b.userId
		LEFT JOIN (SELECT * FROM tab_happy_host_laud WHERE postId=#{postId} AND userId = #{userId}) c on a.id=c.postId
		WHERE a.id = #{postId}
      ]]>
    </select> 
    
     <!-- 根据ID来查回复列表 -->
     <select id="AppMapper.queryHappyHostReplyInfo"   parameterType="queryModel"  resultMap="mHappyHostReplyRet">
      <![CDATA[
        SELECT a.*, date_format(a.stime, '%m-%d %H:%i') as stime1, b.userName, b.photo
		FROM tab_happy_host_reply a
		LEFT JOIN tab_user b on a.userId=b.userId
		WHERE a.postId = #{postId}
		order by a.stime desc
      ]]>
    </select> 
    
     <select id="AppMapper.queryHappyHostReplyInfoById"   parameterType="happyHostReplyModel"  resultMap="mHappyHostReplyRet">
      <![CDATA[
        SELECT a.*, date_format(a.stime, '%m-%d %H:%i') as stime1, b.userName, b.photo
		FROM tab_happy_host_reply a
		LEFT JOIN tab_user b on a.userId=b.userId
		WHERE a.id = #{id}
      ]]>
    </select> 
     
     
    <!-- 修改圈子的话题数-->
	<update id="AppMapper.modifyHappyHost">
		<![CDATA[
			UPDATE tab_dict_happy_host  SET  
			cnt = cnt + 1
			WHERE id = #{happyHostId} 
		]]>
	</update>
    
	<!-- 插入话题 -->
    <insert id="AppMapper.addHappyHostPostInfo" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_happy_host_post(happyHostId, title, content, stime, userId)
		values (#{happyHostId}, #{title}, #{content}, #{stime}, #{userId})
	  ]]>
	</insert>  
	
    <!-- 修改话题的点赞数-->
	<update id="AppMapper.modifyHappyHostPostLaudInfo">
		<![CDATA[
			UPDATE tab_happy_host_post  SET  
			laudCnt = laudCnt + #{flag}
			WHERE id = #{postId} 
		]]>
	</update>
	
	 <!-- 修改话题的点赞数-->
	<update id="AppMapper.modifyHappyHostPostReplyInfo">
		<![CDATA[
			UPDATE tab_happy_host_post  SET  
			replyCnt = replyCnt +1
			WHERE id = #{postId} 
		]]>
	</update>
	
	
	<!-- 增加点赞记录 -->
    <insert id="AppMapper.addHappyHostLaudIinfo" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_happy_host_laud(postId, stime, userId)
		values (#{postId}, #{stime}, #{userId})
	  ]]>
	</insert>
	
    <!-- 删除点赞记录 -->
    <delete id="AppMapper.delHappyHostLaudIinfo">
      <![CDATA[
        DELETE FROM tab_happy_host_laud 
        WHERE postId = #{postId} 
        and userId = #{userId} 
      ]]>
    </delete> 
    
    <!-- 增加回复记录 -->
    <insert id="AppMapper.addHappyHostReplyInfo" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_happy_host_reply(postId, content, stime, userId)
		values (#{postId}, #{content}, #{stime}, #{userId})
	  ]]>
	</insert>
    
     <!-- 增加举报 -->
    <insert id="AppMapper.addHappyHostReportInfo" useGeneratedKeys="true" keyProperty="id">
	  <![CDATA[
		insert into tab_happy_host_report(tableType, reportFlag, stime, userId, tableId)
		values (#{tableType}, #{reportFlag}, #{stime}, #{userId}, #{tableId})
	  ]]>
	</insert>
 
    <!-- 增加心电 -->
    <insert id="AppMapper.addECGRecord" useGeneratedKeys="true" keyProperty="id">
      <![CDATA[
      insert into tab_ecg(userId, valLow, valHigh, takeTime)
      values (#{userId}, #{valLow}, #{valHigh}, #{takeTime})
      ]]>
    </insert>   

    <!-- 增加血氧 -->
    <insert id="AppMapper.addBloodOxygenRecord" useGeneratedKeys="true" keyProperty="id">
      <![CDATA[
      insert into tab_blood_oxygen(userId, valLow, valHigh, takeTime)
      values (#{userId}, #{valLow}, #{valHigh}, #{takeTime})
      ]]>
    </insert>   
</mapper>
