<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeviceMapper">
	
	<resultMap id="mRetDeviceMap" 		type="deviceModel">
		<result property="id"  			column="deviceId"/>
		<result property="type"  		column="deviceType"/>
		<result property="typeName"  	column="name"/>
		<result property="no"  			column="deviceNo"/>
		<result property="model"  		column="deviceModel"/>
		<result property="sim"  		column="deviceSim"/>
	</resultMap>
	
	<!-- 插入用户-->
	<insert id="DeviceMapper.insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_device (deviceType, deviceNo, deviceModel, deviceSim) 
	        VALUES (#{type}, #{no}, #{model}, #{sim})
	    ]]>
	</insert>
	
	
	<!-- 查询总记录数-->
	<select id="DeviceMapper.count" parameterType="deviceModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
		]]>
		<where>	
	        <if test="type != null and type > 0">
				AND a1.deviceType = #{type}
	        </if>
	        <if test="sim != null and sim != ''">
				AND a1.deviceSim LIKE CONCAT('%', #{sim}, '%') 
	        </if>
		</where>
	</select>
	
	<!-- 查询分页查询-->
	<select id="DeviceMapper.list" parameterType="deviceModel"	resultMap="mRetDeviceMap">
		<![CDATA[
			SELECT a1.*, a2.name
			FROM tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
		]]>
		<where>	
	        <if test="type != null and type > 0">
				AND a1.deviceType = #{type}
	        </if>
	        <if test="sim != null and sim != ''">
				AND a1.deviceSim LIKE CONCAT('%', #{sim}, '%') 
	        </if>
		</where>
		<![CDATA[
			LIMIT #{startNum}, #{rows}
		]]>
	</select>

	        
	<!-- 修改-->
	<update id="DeviceMapper.update" parameterType="deviceModel">
		<![CDATA[
			UPDATE tab_device  SET  
			deviceType = #{type},
			deviceNo = #{no},
			deviceModel = #{model},
			deviceSim = #{sim}
			WHERE deviceId = #{id} 
		]]>
	</update>
	
	<!-- 删除-->
	<delete id="DeviceMapper.delete">
		<![CDATA[
			DELETE FROM tab_device 
			WHERE deviceId = #{id} 
		]]>
	</delete>
	
</mapper>
