<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DwrMapper">
	
	<resultMap id="mRetDwrMap" 			type="dwrModel">
		<result property="msgKey"  		column="msgKey"/>
		<result property="msgVal"  		column="msgVal"/>
	</resultMap>
	
	
	<!--加载定制类型 -->
	<select id="DwrMapper.queryDevTypeInfo" 	resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.id AS msgKey, A.name AS msgVal
			FROM tab_dict_device_type A
		]]>
	</select>
	
	<!--加载字典 -->
	<select id="DwrMapper.queryDictInfo" parameterType="dictModel"	resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.id AS msgKey, A.name AS msgVal
			FROM ${tableName} A
		]]>
	</select>
	
	<!--加载医院 -->
	<select id="DwrMapper.queryHospitalInfo" 	resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.hospitalId AS msgKey, A.hospitalName AS msgVal
			FROM tab_hospital A
		]]>
	</select>
	
	<!--医院科室 -->
	<select id="DwrMapper.queryHospitalDeptInfo" 	resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.deptId AS msgKey, A.deptName AS msgVal
			FROM tab_hospital_dept A
		]]>
	</select>
	
	
	<!--医院科室 -->
	<select id="DwrMapper.queryHospitalAddressInfo" parameterType="int"	resultType="string">
		<![CDATA[
			SELECT a.hospitalAddr
			FROM tab_hospital a
			where a.hospitalId = ${id}
		]]>
	</select>
</mapper>
