<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DwrMapper">
	
	<resultMap id="mRetDwrMap" 			type="dwrModel">
		<result property="msgKey"  		column="msgKey"/>
		<result property="msgVal"  		column="msgVal"/>
	</resultMap>
	
	
	<!--加载定制类型 -->
	<select id="DwrMapper.queryCustomInfo" 		resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.CUSTOM_ID AS msgKey, A.CUSTOM_NAME AS msgVal
			FROM TAB_CUSTOM_TYPE A
		]]>
	</select>
	
	
	<!--加载新闻类型 -->
	<select id="DwrMapper.queryNewsTypeInfo" 		resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.TYPE_ID AS msgKey, A.TYPE_NAME AS msgVal
			FROM TAB_NEWS_TYPE A
			WHERE A.CUSTOM_ID = #{customId}
		]]>
	</select>
	
	
	<!--加载经典案例类型 -->
	<select id="DwrMapper.queryCaseTypeInfo" 		resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.TYPE_ID AS msgKey, A.TYPE_NAME AS msgVal
			FROM TAB_CASE_TYPE A
			WHERE A.CUSTOM_ID = #{customId}
		]]>
	</select>
	
	
	<!--加载产品中心类型 -->
	<select id="DwrMapper.queryProduceTypeInfo" 		resultMap="mRetDwrMap">
		<![CDATA[
			SELECT A.TYPE_ID AS msgKey, A.TYPE_NAME AS msgVal
			FROM TAB_PRODUCE_TYPE A
			WHERE A.CUSTOM_ID = #{customId}
		]]>
	</select>
</mapper>
