<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMapper">
	
	<resultMap id="mNewsMap" 		type="newsModel">
		<result property="id"  			column="id"/>
		<result property="title"  		column="newsTitle"/>
		<result property="content"  	column="newsContent"/>
		<result property="icon"  		column="newsIcon"/>
		<result property="createTime"  	column="newsCreateTime"/>
	</resultMap>
	
	<!-- 插入-->
	<insert id="NewsMapper.insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_news (newsTitle, newsContent, newsIcon, newsCreateTime) 
	        VALUES (#{title}, #{content}, #{icon}, #{createTime})
	    ]]>
	</insert>
	
	
	<!-- 查询总记录数-->
	<select id="NewsMapper.count" parameterType="newsModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_news a
		]]>
        <where>
          <if test="title != null and title != ''">
  			AND a.newsTitle LIKE CONCAT('%', #{title}, '%') 
          </if>
        </where>
	</select>
	
	<!-- 查询分页查询-->
	<select id="NewsMapper.list" parameterType="newsModel"	resultMap="mNewsMap">
		<![CDATA[
			SELECT *
			FROM tab_news a
		]]>
        <where>
          <if test="title != null and title != ''">
            AND a.newsTitle LIKE CONCAT('%', #{title}, '%') 
          </if>
        </where>    
    	LIMIT #{startNum}, #{rows}
	</select>


	<!-- 修改-->
	<update id="NewsMapper.update" parameterType="newsModel">
		<![CDATA[
			UPDATE tab_news  SET  
			newsTitle = #{title}, 
            newsContent = #{content}, 
            newsIcon = #{icon}
			WHERE id = #{id} 
		]]>
	</update>
	
	<!-- 删除-->
	<delete id="NewsMapper.delete">
		<![CDATA[
			DELETE FROM tab_news 
			WHERE id = #{id} 
		]]>
	</delete>
	
</mapper>
