<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QueryMapper">
	
    <!-- 用户登录 -->
    <resultMap id="mRetLoginMap" 					type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="userName"  				column="userName"/>
		<result property="name"  					column="name"/>
		<result property="userSysId"  				column="userSysId"/>
		<result property="userPwd"  				column="userPass"/>
		<result property="gender"  					column="gender"/>
		<result property="birthdate"  				column="birthdate"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="email"  					column="email"/>
		
		<result property="credentialType"  			column="credentialType"/>
		<result property="credentialNo"  			column="credentialNo"/>
		<result property="isSoldier"  				column="isSoldier"/>
		<result property="isDisablity"  			column="isDisablity"/>
		<result property="height"  					column="height"/>
		
		<result property="weight"  					column="weight"/>
		<result property="nationality"  			column="nationality"/>
		<result property="nativePlace"  			column="nativePlace"/>
		<result property="marriageStatus"  			column="marriageStatus"/>
		<result property="householdType"  			column="householdType"/>
		
		<result property="education"  				column="education"/>
		<result property="policticsStatus"  		column="policticsStatus"/>
		<result property="homePhone"  				column="homePhone"/>
		<result property="homeAddress"  			column="homeAddress"/>
		<result property="photo"  					column="photo"/>
	</resultMap>
	
	<!-- 加载最新一条建议 -->
	<resultMap id="mRetAdviceOneMap" 		type="outModel">
		<result property="id"  				column="id"/>
		<result property="a"  				column="adviceTime"/>
		<result property="b"  				column="adviceContent"/>
	</resultMap>
	
	<!-- 查询建议执行记录总数 -->
	<resultMap id="mRetAdvicePerformaceMap" 		type="outModel">
		<result property="id"  						column="id"/>
		<result property="a"  						column="recordTime"/>
		<result property="b"  						column="doctorAdvicePerformace"/>
	</resultMap>
	
	<!-- 查询建议执行记录总数 -->
	<resultMap id="mRetServiceMap" 					type="serviceModel">
		<result property="id"  						column="id"/>
		<result property="type"  					column="serviceType"/>
		<result property="name"  					column="serviceName"/>
		<result property="content"  				column="serviceContent"/>
		<result property="creatorId"  				column="serviceCreatorId"/>
		<result property="createTime"  				column="serviceCreateTime"/>
		<result property="sdate"  					column="serviceStartDate"/>
		<result property="edate"  					column="serviceDuration"/>
		<result property="memo"  					column="serviceMemo"/>
		<result property="icon"  					column="serviceIcon"/>
		<result property="userId"  					column="userId"/>
	</resultMap>
	
	<!-- 加载设备 -->
	<resultMap id="mRetDeviceMap" 					type="deviceModel">
		<result property="id"  						column="deviceId"/>
		<result property="type"  					column="deviceType"/>
		<result property="typeName"  				column="name"/>
		<result property="model"  					column="deviceModel"/>
		<result property="no"  						column="deviceNo"/>
		<result property="sim"  					column="deviceSim"/>
		<result property="buyTime"  				column="buyTime"/>
		<result property="userId"  					column="userId"/>
	</resultMap>		
		
	<!-- 查询亲情号码 -->
	<resultMap id="mRelativePhoneMap" 				type="relativePhoneModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="type"  					column="relativeType"/>
		<result property="name"  					column="relativeName"/>
		<result property="cellPhone"  				column="relativeCellPhone"/>
		<result property="tel"  					column="relativeTel"/>
		<result property="address"  				column="relativeAddr"/>
	</resultMap>
	
	<!-- 加载用户基本信息 -->
	<resultMap id="mRetUserBaseMap" 				type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="name"  					column="name"/>
		<result property="gender"  					column="gender"/>
		<result property="birthdate"  				column="birthdate"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="email"  					column="email"/>
		
		<result property="credentialType"  			column="credentialType"/>
		<result property="credentialNo"  			column="credentialNo"/>
		<result property="isSoldier"  				column="isSoldier"/>
		<result property="isDisablity"  			column="isDisablity"/>
		<result property="height"  					column="height"/>
		
		<result property="weight"  					column="weight"/>
		<result property="nationality"  			column="nationality"/>
		<result property="nativePlace"  			column="nativePlace"/>
		<result property="marriageStatus"  			column="marriageStatus"/>
		<result property="householdType"  			column="householdType"/>
		
		<result property="education"  				column="education"/>
		<result property="policticsStatus"  		column="policticsStatus"/>
		<result property="homePhone"  				column="homePhone"/>
		<result property="homeAddress"  			column="homeAddress"/>
		<result property="workingAge"  				column="workingAge"/>
		
		<result property="salary"  					column="salary"/>
		<result property="companyName"  			column="companyName"/>
		<result property="companyAddress"  			column="companyAddress"/>
		<result property="photo"  					column="photo"/>
	</resultMap>
	
	
	<!-- 查询生活习惯 -->
	<resultMap id="mRetHabbitMap" 					type="habbitModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="workType"  				column="workType"/>
		<result property="workPressure"  			column="workPressure"/>
		<result property="bloodType"  				column="bloodType"/>
		<result property="weight"  					column="weight"/>
		<result property="waist"  					column="waist"/>
		<result property="smokeType"  				column="smokeType"/>
		<result property="smokeFrequency"  			column="smokeFrequency"/>
		<result property="drinkFrequency"  			column="drinkFrequency"/>
		<result property="drinkType"  				column="drinkType"/>
		<result property="exerciseFrequency"  		column="exerciseFrequency"/>
		<result property="exerciseDuration"  		column="exerciseDuration"/>
		<result property="sleepDuration"  			column="sleepDuration"/>
	</resultMap>
	
	<!-- 查询家族遗传史 -->
	<resultMap id="mRetGeneticDiseaseMap" 			type="geneticDiseaseModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="isHeartDisease"  			column="isHeartDisease"/>
		<result property="isHypertension"  			column="isHypertension"/>
		<result property="isHyperlipemia"  			column="isHyperlipemia"/>
		<result property="isDiabetesMellitus"  		column="isDiabetesMellitus"/>
		<result property="isCoronaryDisease"  		column="isCoronaryDisease"/>
	</resultMap>
	
	<!-- 查询疾病史 -->
	<resultMap id="mRetDiseaseHisMap" 				type="diseaseHisModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="diseaseName"  			column="diseaseName"/>
		<result property="startDate"  				column="startDate"/>
		<result property="endDate"  				column="endDate"/>
		<result property="descInHospital"  			column="descInHospital"/>
		<result property="descObserve"  			column="descObserve"/>
		<result property="memo"  					column="memo"/>
	</resultMap>
	
	<!-- 询医护人员列表 -->
	<resultMap id="mRetNurseMap" 					type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="name"  					column="name"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="gender"  					column="gender"/>
		<result property="score"  					column="score"/>
		<result property="cnt"  					column="cnt"/>
	</resultMap>
	
	
	<!-- 询医护人员列表 -->
	<resultMap id="mRetMyNurseMap" 					type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="name"  					column="name"/>
		<result property="gender"  					column="gender"/>
		<result property="birthdate"  				column="birthdate"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="email"  					column="email"/>
		
		<result property="credentialType"  			column="credentialType"/>
		<result property="credentialNo"  			column="credentialNo"/>
		<result property="isSoldier"  				column="isSoldier"/>
		<result property="isDisablity"  			column="isDisablity"/>
		<result property="height"  					column="height"/>
		
		<result property="weight"  					column="weight"/>
		<result property="nationality"  			column="nationality"/>
		<result property="nativePlace"  			column="nativePlace"/>
		<result property="marriageStatus"  			column="marriageStatus"/>
		<result property="householdType"  			column="householdType"/>
		
		<result property="education"  				column="education"/>
		<result property="policticsStatus"  		column="policticsStatus"/>
		<result property="homePhone"  				column="homePhone"/>
		<result property="homeAddress"  			column="homeAddress"/>
		<result property="photo"  					column="photo"/>
		<result property="score"  					column="score"/>
		<result property="cnt"  					column="cnt"/>
		<result property="achievement"  			column="achievement"/>
	</resultMap>
	
	
	<!-- 询医护人员列表 -->
	<resultMap id="mRetNurseRequestMap" 			type="nurseRequestModel">
	    <result property="id"  						column="id"/>
	    <result property="userId"  					column="userId"/>
		<result property="nurseId"  				column="nurseId"/>
		<result property="nurseName"  				column="name"/>
		<result property="status"  					column="status"/>
		<result property="requestTime"  			column="requestTime"/>
		<result property="responseTime"  			column="responseTime"/>
		<result property="memo"  					column="memo"/>
	</resultMap>
	
	
	<!-- 查询消息列表数据 -->
	<resultMap id="mRetMessageMap" 					type="messageModel">
	    <result property="id"  						column="id"/>
	    <result property="senderId"  				column="senderId"/>
		<result property="receiverId"  				column="receiverId"/>
		<result property="sendTime"  				column="sendTime"/>
		<result property="status"  					column="status"/>
		<result property="readTime"  				column="readTime"/>
		<result property="msg"  					column="msg"/>
		<result property="name"  					column="name"/>
	</resultMap>
	
	<!-- 分页查询活动记录 -->
    <resultMap id="mRetActivityMap" 				type="activityModel">
		<result property="id"  						column="activityId"/>
		<result property="type"  					column="activityType"/>
		<result property="name"  					column="activityName"/>
		<result property="content"  				column="activityContent"/>
		<result property="creatorId"  				column="activityCreatorId"/>
		<result property="createTime"  				column="activityCreateTime"/>
		<result property="sdate"  					column="activityStartDate"/>
		<result property="edate"  					column="activityDuration"/>
		<result property="memo"  					column="activityMemo"/>
		<result property="icon"  					column="activityIcon"/>
	</resultMap>
	
    <resultMap id="mDoctorMap" 		      type="doctorModel">
		<result property="doctorId"       column="doctorId"/>
		<result property="doctorName"  	  column="doctorName"/>
	</resultMap>
	
	<!-- 用户登录 -->
	<select id="QueryMapper.queryLoginInfo" 	parameterType="userModel"	resultMap="mRetLoginMap">
		<![CDATA[
			select a1.*
			from tab_user a1 
			where a1.userSysId = 1
			and a1.userName = #{userName}
		]]>
	</select>
	
	
	<!-- 加载最新一条建议 -->
	<select id="QueryMapper.queryAdviceInfo" 	parameterType="queryModel"	resultMap="mRetAdviceOneMap">
		<![CDATA[
			select a.id, a.adviceTime, a.adviceContent 
			from tab_doctor_advice a 
			where a.adviceTypId = #{adviceType}
			and a.userId = #{userId}
			limit 0, 1
		]]>
	</select>
	
	<!-- 查询建议执行记录总数 -->
	<select id="QueryMapper.queryAdvicePerformaceCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt 
			from tab_doctor_advice_performace a 
			where a.doctorAdviceId = #{id}
		]]>
	</select>
	
	
	<!-- 查询建议执行记录 -->
	<select id="QueryMapper.queryAdvicePerformace" 	parameterType="queryModel"	resultMap="mRetAdvicePerformaceMap">
		<![CDATA[
			select a.id, a.recordTime, a.doctorAdvicePerformace 
			from tab_doctor_advice_performace a 
			where a.doctorAdviceId = #{id}
			order by a.recordTime desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 查询我的服务总数 -->
	<select id="QueryMapper.queryServiceInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_service a1
			left join tab_user_service a2 on a1.id=a2.serviceId and a2.userId=#{userId}
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
	        <if test="type != null and type != 3">
	            <![CDATA[
				AND a1.serviceType  < 3
				]]>
	        </if>
	        <if test="type != null and type == 3">
				AND a1.serviceType  = #{type}
	        </if>
		</where>
	</select>
	
	<!-- 分页加载我的服务数据 -->
	<select id="QueryMapper.queryServiceInfo" 	parameterType="queryModel"	resultMap="mRetServiceMap">
		<![CDATA[
			select a1.id, a1.serviceType, a1.serviceName, a1.serviceContent, a1.serviceCreatorId, 
				a1.serviceCreateTime, a1.serviceStartDate, a1.serviceDuration, 
				a1.serviceMemo, a1.serviceIcon, IFNULL(a2.userId,0) as userId 
			from tab_service a1
			left join tab_user_service a2 on a1.id=a2.serviceId and a2.userId=#{userId}
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
	        <if test="type != null and type != 3">
				<![CDATA[
				AND a1.serviceType  < 3
				]]>
	        </if>
	        <if test="type != null and type == 3">
				AND a1.serviceType  = #{type}
	        </if>
		</where>
		<![CDATA[
			order by a1.serviceCreateTime desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 查询我的设备总数 -->
	<select id="QueryMapper.queryDeviceInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
			left join tab_user_device a3 on a3.deviceId=a1.deviceId and a3.userId=#{userId}
		]]>
		<where>	
	        <if test="deviceType != null and deviceType > 0">
				AND a1.deviceType  = #{deviceType}
	        </if>
	        <if test="type != null and type == 0">
				AND IFNULL(a3.userId, 0)  = #{type}
	        </if>
	        <if test="type != null and type > 0">
				AND IFNULL(a3.userId, 0)  = 1
	        </if>
		</where>
	</select>
	
	<!-- 分页加载我的设备数据 -->
	<select id="QueryMapper.queryDeviceInfo" 	parameterType="queryModel"	resultMap="mRetDeviceMap">
		<![CDATA[
			select a1.deviceId, a1.deviceType, a1.deviceModel, a1.deviceNo, a1.deviceSim, a2.name, IFNULL(a3.userId, 0) as userId, IFNULL(a3.buyTime, '-') as buyTime
			from tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
			left join tab_user_device a3 on a3.deviceId=a1.deviceId and a3.userId=#{userId}
		]]>
		<where>	
	        <if test="deviceType != null and deviceType > 0">
				AND a1.deviceType  = #{deviceType}
	        </if>
	        <if test="type != null and type == 0">
				AND IFNULL(a3.userId, 0)  = #{type}
	        </if>
	        <if test="type != null and type > 0">
				AND IFNULL(a3.userId, 0)  = 1
	        </if>
		</where>
		<![CDATA[
			order by a1.deviceModel
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 购买服务 -->
	<insert id="QueryMapper.modifyBuyServiceInfo" useGeneratedKeys="true" keyProperty="buyId">
	    <![CDATA[
	        INSERT INTO tab_user_service (userId, serviceId, buyTime) 
	        VALUES (#{userId}, #{id}, #{buyTime})
	    ]]>
	</insert>
	
	<!-- 购买服务 -->
	<insert id="QueryMapper.modifyBuyDeviceInfo" useGeneratedKeys="true" keyProperty="buyId">
	    <![CDATA[
	        INSERT INTO tab_user_device (userId, deviceId, buyTime) 
	        VALUES (#{userId}, #{id}, #{buyTime})
	    ]]>
	</insert>
	
	<!-- 修改密码 -->
	<update id="QueryMapper.modifyUserPwdInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			userPass = #{userNewPwd}
			WHERE userId = #{userId}
			and userPass = #{userPwd}
		]]>
	</update>
	
	
	<!-- 查询我的亲情号码总数 -->
	<select id="QueryMapper.queryRelativePhoneInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_relative_phone a1 
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 分页加载我的亲情号码数据 -->
	<select id="QueryMapper.queryRelativePhoneInfo" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a1.id, a1.relativeName, a1.relativeTel, a1.relativeType, a1.relativeCellPhone, a1.relativeAddr, a1.userId
			from tab_relative_phone a1
			where a1.userId=#{userId}
			order by a1.relativeName
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 分页加载我的亲情号码数据 -->
	<select id="QueryMapper.queryRelativePhoneInfoById" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a1.id, a1.relativeName, a1.relativeTel, a1.relativeType, a1.relativeCellPhone, a1.relativeAddr, a1.userId
			from tab_relative_phone a1
			where a1.id=#{id}
		]]>
	</select>
	
	
	<!-- 增加亲情号码 -->
	<insert id="QueryMapper.addRelativePhoneInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_relative_phone (userId, relativeName, relativeType, relativeCellPhone, relativeTel, relativeAddr) 
	        VALUES (#{userId}, #{name}, #{type}, #{cellPhone}, #{tel}, #{address})
	    ]]>
	</insert>
	
	
	<!-- 修改亲情号码 -->
	<update id="QueryMapper.modifyRelativePhoneInfo" parameterType="relativePhoneModel">
		<![CDATA[
			UPDATE tab_relative_phone  SET  
			relativeName = #{name},
			relativeType = #{type},
			relativeCellPhone = #{cellPhone},
			relativeTel = #{tel},
			relativeAddr = #{address}
			WHERE id = #{id}
		]]>
	</update>
	
	<!-- 删除亲情号码-->
	<delete id="QueryMapper.delRelativePhoneInfo" parameterType="relativePhoneModel">
		<![CDATA[
			DELETE FROM tab_relative_phone 
			WHERE id = #{id} 
		]]>
	</delete>
	
	<!-- 加载用户基本信息 -->
	<select id="QueryMapper.queryUserBaseInfo" 	parameterType="queryModel"	resultMap="mRetUserBaseMap">
		<![CDATA[
			select a1.*
			from tab_user a1
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 增加用户基本信息 -->
	<insert id="QueryMapper.addUserBaseInfo"  parameterType="userModel">
	    <![CDATA[
	        INSERT INTO tab_user (userId, name, gender, birthdate, cellphone, email, 
	        	credentialType, credentialNo, isSoldier, isDisablity, height, weight, 
	        	nationality, nativePlace, marriageStatus, householdType, education, 
	        	policticsStatus, homePhone, homeAddress, workingAge, salary, companyName, 
	        	companyAddress, photo) 
	        VALUES (#{userId}, #{name}, #{gender}, #{birthdate}, #{cellphone}, #{email}, 
	        	#{credentialType}, #{credentialNo}, #{isSoldier}, #{isDisablity}, #{height}, #{weight}, 
	        	#{nationality}, #{nativePlace}, #{marriageStatus}, #{householdType}, #{education}, 
	        	#{policticsStatus}, #{homePhone}, #{homeAddress}, #{workingAge}, #{salary}, #{companyName}, 
	        	#{companyAddress}, #{photo})
	    ]]>
	</insert>
	
	
	<!-- 删除用户基本信息-->
	<delete id="QueryMapper.delUserBaseInfo" parameterType="userModel">
		<![CDATA[
			DELETE FROM tab_user 
			WHERE userId = #{userId} 
		]]>
	</delete>
	
	<!-- 修改用户基础信息 -->
	<update id="QueryMapper.modifyUserBaseInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			name = #{name},
			gender = #{gender},
			birthdate = #{birthdate},
			cellphone = #{cellphone},
			email = #{email},
			photo=#{photo}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 修改用户照片信息 -->
	<update id="QueryMapper.modifyUserPhotoInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			photo=#{photo}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 修改用户详细信息 -->
	<update id="QueryMapper.modifyUserDetailInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			credentialType = #{credentialType},
			credentialNo = #{credentialNo},
			isSoldier = #{isSoldier},
			isDisablity = #{isDisablity},
			height = #{height},
			weight=#{weight},
			nationality=#{nationality},
			nativePlace=#{nativePlace},
			marriageStatus=#{marriageStatus},
			householdType=#{householdType},
			education=#{education},
			policticsStatus=#{policticsStatus},
			homeAddress=#{homeAddress},
			spouseName=#{spouseName},
			spousePhone=#{spousePhone},
			homePhone=#{homePhone}
			WHERE userId = #{userId}
		]]>
	</update>


	<!-- 修改用户工作信息 -->
	<update id="QueryMapper.modifyUserWorkInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			workingAge = #{workingAge},
			salary = #{salary},
			companyName = #{companyName},
			achievement = #{achievement},
			companyAddress = #{companyAddress}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 加载生活习惯数据 -->
	<select id="QueryMapper.queryHabbitInfo" 	parameterType="queryModel"	resultMap="mRetHabbitMap">
		<![CDATA[
			select a1.*
			from tab_habbit a1
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 增加生活习惯 -->
	<insert id="QueryMapper.addHabbitInfo"  parameterType="habbitModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_habbit (userId) 
	        VALUES (#{userId})
	    ]]>
	</insert>
	
	<!-- 修改生活习惯 -->
	<update id="QueryMapper.modifyHabbitInfo" parameterType="habbitModel">
		<![CDATA[
			UPDATE tab_habbit  SET  
			workType = #{workType},
			workPressure = #{workPressure},
			bloodType = #{bloodType},
			weight = #{weight},
			waist = #{waist},
			smokeType = #{smokeType},
			smokeFrequency = #{smokeFrequency},
			drinkFrequency = #{drinkFrequency},
			drinkType = #{drinkType},
			exerciseFrequency = #{exerciseFrequency},
			exerciseDuration = #{exerciseDuration},
			sleepDuration = #{sleepDuration}
			WHERE userId = #{userId}
		]]>
	</update>
		
	
	<!-- 加载家族遗传史 -->
	<select id="QueryMapper.queryGeneticDiseaseInfo" 	parameterType="queryModel"	resultMap="mRetGeneticDiseaseMap">
		<![CDATA[
			select a1.*
			from tab_genetic_disease a1
			where a1.userId=#{userId}
		]]>
	</select>	
	
	
	<!-- 增加家族遗传史 -->
	<insert id="QueryMapper.addGeneticDiseaseInfo"  parameterType="geneticDiseaseModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_genetic_disease (userId) 
	        VALUES (#{userId})
	    ]]>
	</insert>
	
	
	<!-- 修改家族遗传史 -->
	<update id="QueryMapper.modifyGeneticDiseaseInfo" parameterType="geneticDiseaseModel">
		<![CDATA[
			UPDATE tab_genetic_disease  SET  
			isHeartDisease = #{isHeartDisease},
			isHypertension = #{isHypertension},
			isHyperlipemia = #{isHyperlipemia},
			isDiabetesMellitus = #{isDiabetesMellitus},
			isCoronaryDisease = #{isCoronaryDisease}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 查询疾病史总记录数 -->
	<select id="QueryMapper.queryDiseaseHisInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_disease_history a1 
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 分页加载疾病史记录 -->
	<select id="QueryMapper.queryDiseaseHisInfo" 	parameterType="queryModel"	resultMap="mRetDiseaseHisMap">
		<![CDATA[
			select a1.descInHospital, a1.descObserve, a1.diseaseName, a1.endDate, a1.id, a1.memo, a1.startDate, a1.userId
			from tab_disease_history a1
			where a1.userId=#{userId}
			order by a1.startDate desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 分页加载疾病史记录根据ID -->
	<select id="QueryMapper.queryDiseaseHisInfoById" 	parameterType="queryModel"	resultMap="mRetDiseaseHisMap">
		<![CDATA[
			select a1.descInHospital, a1.descObserve, a1.diseaseName, a1.endDate, a1.id, a1.memo, a1.startDate, a1.userId
			from tab_disease_history a1
			where a1.id=#{id}
		]]>
	</select>
	
	
	<!-- 增加疾病史记录 -->
	<insert id="QueryMapper.addDiseaseHisInfo"  parameterType="diseaseHisModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_disease_history (userId, startDate, endDate, diseaseName, descInHospital, descObserve, memo) 
	        VALUES (#{userId}, #{startDate}, #{endDate}, #{diseaseName}, #{descInHospital}, #{descObserve}, #{memo})
	    ]]>
	</insert>
	
	<!-- 修改疾病史记录 -->
	<update id="QueryMapper.modifyDiseaseHisInfo" parameterType="diseaseHisModel">
		<![CDATA[
			UPDATE tab_disease_history  SET  
			startDate = #{startDate},
			endDate = #{endDate},
			diseaseName = #{diseaseName},
			descInHospital = #{descInHospital},
			descObserve = #{descObserve},
			memo = #{memo}
			WHERE id = #{id}
		]]>
	</update>
	
	<!-- 删除疾病史记录-->
	<delete id="QueryMapper.delDiseaseHisInfo" parameterType="relativePhoneModel">
		<![CDATA[
			DELETE FROM tab_disease_history 
			WHERE id = #{id} 
		]]>
	</delete>
	
	
	<!-- 查询医护人员列表总数 -->
	<select id="QueryMapper.queryNurseInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_user a1
			inner join tab_user a2 on a1.userId=a2.userId and a1.userSysId=2
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a2.name LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
	</select>
	
	
	<!-- 分页查询医护人员列表 -->
	<select id="QueryMapper.queryNurseInfo" 	parameterType="queryModel"	resultMap="mRetNurseMap">
		<![CDATA[
			select a1.userId, a2.name, a2.cellphone, a2.gender, IFNULL(a3.score, 0) as score, IFNULL(a4.cnt,0) as cnt
			from tab_user a1
			inner join tab_user a2 on a1.userId=a2.userId and a1.userSysId=2
			left join (
				select nurserId, round(sum(IFNULL(score1,0))/ count(1)) as score 
				from tab_nurser_score 
				group by nurserId
			) a3 on a3.nurserId=a2.userId
			left join	(
				select nurseId, count(1) as cnt
				from tab_user_nurse_relation
				group by nurseId
			) a4 on a4.nurseId=a1.userId
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a2.name LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
		<![CDATA[
			order by IFNULL(a3.score, -1) desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 加载我的医护人员 -->
	<select id="QueryMapper.queryMyNurseInfo" 	parameterType="queryModel"	resultMap="mRetMyNurseMap">
		<![CDATA[
			select a2.*, IFNULL(a3.score, 0) as score, IFNULL(a4.cnt,0) as cnt
			from tab_user_nurse_relation a1
			inner join tab_user a2 on a1.nurseId=a2.userId
			left join (
				select nurserId, round(sum(IFNULL(score1,0))/ count(1)) as score 
				from tab_nurser_score 
				group by nurserId
			) a3 on a3.nurserId=a2.userId
			left join	(
				select nurseId, count(1) as cnt
				from tab_user_nurse_relation
				group by nurseId
			) a4 on a4.nurseId=a2.userId
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 医护人员明细 -->
	<select id="QueryMapper.queryNurseDetailInfo" 	parameterType="queryModel"	resultMap="mRetMyNurseMap">
		<![CDATA[
			select a2.*, IFNULL(a3.score, 0) as score, IFNULL(a4.cnt,0) as cnt
			from tab_user a2
			left join (
				select nurserId, round(sum(IFNULL(score1,0))/ count(1)) as score 
				from tab_nurser_score 
				group by nurserId
			) a3 on a3.nurserId=a2.userId
			left join	(
				select nurseId, count(1) as cnt
				from tab_user_nurse_relation
				group by nurseId
			) a4 on a4.nurseId=a2.userId
			where a2.userId=#{id}
		]]>
	</select>
	
	
	<!-- 增加签约申请-->
	<insert id="QueryMapper.addNurseRequestInfo"  parameterType="nurseRequestModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_user_bind_nurse_request (userId, nurseId, status, requestTime, memo) 
	        VALUES (#{userId}, #{nurseId}, #{status}, #{requestTime}, #{memo})
	    ]]>
	</insert>
	
	
	<!-- 查询签约申请 -->
	<select id="QueryMapper.queryNurseRequestInfo" 	parameterType="queryModel"	resultMap="mRetNurseRequestMap">
		<![CDATA[
			select a1.*, a2.name
			from tab_user_bind_nurse_request a1
			inner join tab_user a2 on a1.nurseId=a2.userId
			where a1.userId=#{userId}
			and a1.status = 0
			limit 0, 1
		]]>
	</select>
	
	
	<!-- 发送消息-->
	<insert id="QueryMapper.addSendMessageInfo"  parameterType="messageModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_msg (senderId, receiverId, sendTime, status, msg) 
	        VALUES (#{senderId}, #{receiverId}, #{sendTime}, #{status}, #{msg})
	    ]]>
	</insert>
	
	
	<!-- 查询消息 -->
	<select id="QueryMapper.queryMessageInfo" 	parameterType="queryModel"	resultMap="mRetMessageMap">
		<![CDATA[
			select a1.id, a1.senderId, a1.receiverId, a1.sendTime, a1.status, a1.readTime, a1.msg, a2.name
			from tab_msg a1
			inner join tab_user a2 on a1.senderId = a2.userId
			where a1.receiverId=#{userId}
		]]>
	</select>
	
	<!-- 增加签约申请-->
	<insert id="QueryMapper.addScoreInfo"  parameterType="scoreModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_nurser_score (userId, nurserId, score1, score2, score3, stime) 
	        VALUES (#{userId}, #{nurserId}, #{score1}, #{score2}, #{score3}, #{stime})
	    ]]>
	</insert>
	
	<!-- 查看用户当月是否有点评 -->
	<select id="QueryMapper.queryCurrentMonthMessageInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1)
			from tab_nurser_score a1
			where date_format(a1.stime ,'%Y-%m')=date_format(now(),'%Y-%m')
			and a1.nurserId = #{nurseId}
			and a1.userId = #{userId}
		]]>
	</select>
	
	
	<!-- 插入反馈信息 -->
	<insert id="QueryMapper.addFeedBackInfo"  parameterType="feedBackModel"  useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_feedback (feedbackType, feedbackContent, feedbackUserId, feedbackTime) 
	        VALUES (#{type}, #{content}, #{userId}, #{stime})
	    ]]>
	</insert>
	
		<!-- 查询活动的总数 -->
	<select id="QueryMapper.queryActivityInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt
			from tab_activity a1
		]]>
		<where>	
			<if test="name != null and name != ''">
				AND a1.activityName LIKE CONCAT('%', #{name}, '%') 
	        </if>
        </where>
	</select>
    
	
	<!-- 分页查询活动记录 -->
	<select id="QueryMapper.queryActivityInfo" 	parameterType="queryModel"	resultMap="mRetActivityMap">
		<![CDATA[
			select a1.activityId, a1.activityType, a1.activityName, a1.activityContent, a1.activityCreatorId, 
				a1.activityCreateTime, a1.activityStartDate, a1.activityDuration, a1.activityMemo,  a1.activityIcon
			from tab_activity a1
		]]>
	     <where>	
			<if test="name != null and name != ''">
				AND a1.activityName LIKE CONCAT('%', #{name}, '%') 
	        </if>
        </where>
		<![CDATA[
			order by activityStartDate desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 分页查询活动记录 -->
	<select id="QueryMapper.queryActivityInfoById" 	parameterType="queryModel"	resultMap="mRetActivityMap">
		<![CDATA[
			select a1.activityId, a1.activityType, a1.activityName, a1.activityContent, a1.activityCreatorId, 
				a1.activityCreateTime, a1.activityStartDate, a1.activityDuration, a1.activityMemo,  a1.activityIcon
			from tab_activity a1
			where a1.activityId = #{id}
		]]>
	</select>
	
	
	<!-- 加载活动医生 -->
	<select id="QueryMapper.queryActivityDoctorInfo" 	parameterType="queryModel"	resultMap="mDoctorMap">
		<![CDATA[
			select CONCAT(a2.doctorName, '(', a3.hospitalName,')') as doctorName, a1.doctorId
			from tab_activity_doctor a1
			inner join tab_doctor a2 on a1.doctorId=a2.doctorId
			left join tab_hospital a3 on a3.hospitalId=a2.doctorHospitalId
			where a1.activityId = #{id}
		]]>
	</select>
	

	
</mapper>
