<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QueryMapper">
	
	<!-- 加载最新一条建议 -->
	<resultMap id="mRetAdviceOneMap" 		type="outModel">
		<result property="id"  				column="id"/>
		<result property="a"  				column="adviceTime"/>
		<result property="b"  				column="adviceContent"/>
	</resultMap>
	
	<!-- 查询建议执行记录总数 -->
	<resultMap id="mRetAdvicePerformaceMap" 		type="outModel">
		<result property="id"  						column="id"/>
		<result property="a"  						column="recordTime"/>
		<result property="b"  						column="doctorAdvicePerformace"/>
	</resultMap>
	
	<!-- 查询建议执行记录总数 -->
	<resultMap id="mRetServiceMap" 					type="serviceModel">
		<result property="id"  						column="id"/>
		<result property="type"  					column="serviceType"/>
		<result property="name"  					column="serviceName"/>
		<result property="content"  				column="serviceContent"/>
		<result property="creatorId"  				column="serviceCreatorId"/>
		<result property="createTime"  				column="serviceCreateTime"/>
		<result property="sdate"  					column="serviceStartDate"/>
		<result property="edate"  					column="serviceDuration"/>
		<result property="memo"  					column="serviceMemo"/>
		<result property="icon"  					column="serviceIcon"/>
		<result property="userId"  					column="userId"/>
	</resultMap>
	
	<!-- 加载设备 -->
	<resultMap id="mRetDeviceMap" 					type="deviceModel">
		<result property="id"  						column="deviceId"/>
		<result property="type"  					column="deviceType"/>
		<result property="typeName"  				column="name"/>
		<result property="model"  					column="deviceModel"/>
		<result property="no"  						column="deviceNo"/>
		<result property="sim"  					column="deviceSim"/>
		<result property="buyTime"  				column="buyTime"/>
		<result property="userId"  					column="userId"/>
	</resultMap>		
		
	<!-- 查询亲情号码 -->
	<resultMap id="mRelativePhoneMap" 				type="relativePhoneModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="type"  					column="relativeType"/>
		<result property="name"  					column="relativeName"/>
		<result property="cellPhone"  				column="relativeCellPhone"/>
		<result property="tel"  					column="relativeTel"/>
		<result property="address"  				column="relativeAddr"/>
	</resultMap>
	
		
	<!-- 加载最新一条建议 -->
	<select id="QueryMapper.queryAdviceInfo" 	parameterType="queryModel"	resultMap="mRetAdviceOneMap">
		<![CDATA[
			select a.id, a.adviceTime, a.adviceContent 
			from tab_doctor_advice a 
			where a.adviceTypId = #{adviceType}
			and a.userId = #{userId}
			limit 0, 1
		]]>
	</select>
	
	<!-- 查询建议执行记录总数 -->
	<select id="QueryMapper.queryAdvicePerformaceCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt 
			from tab_doctor_advice_performace a 
			where a.doctorAdviceId = #{id}
		]]>
	</select>
	
	
	<!-- 查询建议执行记录 -->
	<select id="QueryMapper.queryAdvicePerformace" 	parameterType="queryModel"	resultMap="mRetAdvicePerformaceMap">
		<![CDATA[
			select a.id, a.recordTime, a.doctorAdvicePerformace 
			from tab_doctor_advice_performace a 
			where a.doctorAdviceId = #{id}
			order by a.recordTime desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 查询我的服务总数 -->
	<select id="QueryMapper.queryServiceInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_service a1
			left join tab_user_service a2 on a1.id=a2.serviceId and a2.userId=#{userId}
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
	</select>
	
	<!-- 分页加载我的服务数据 -->
	<select id="QueryMapper.queryServiceInfo" 	parameterType="queryModel"	resultMap="mRetServiceMap">
		<![CDATA[
			select a1.id, a1.serviceType, a1.serviceName, a1.serviceContent, a1.serviceCreatorId, 
				a1.serviceCreateTime, a1.serviceStartDate, a1.serviceDuration, 
				a1.serviceMemo, a1.serviceIcon, IFNULL(a2.userId,0) as userId 
			from tab_service a1
			left join tab_user_service a2 on a1.id=a2.serviceId and a2.userId=#{userId}
		]]>
		<where>	
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
		<![CDATA[
			order by a1.serviceCreateTime desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 查询我的设备总数 -->
	<select id="QueryMapper.queryDeviceInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
			left join tab_user_device a3 on a3.deviceId=a1.deviceId and a3.userId=#{userId}
		]]>
		<where>	
	        <if test="deviceType != null and deviceType > 0">
				AND a1.deviceType  = #{deviceType}
	        </if>
	        <if test="type != null and type == 0">
				AND IFNULL(a3.userId, 0)  = #{type}
	        </if>
	        <if test="type != null and type > 0">
				AND IFNULL(a3.userId, 0)  = 1
	        </if>
		</where>
	</select>
	
	<!-- 分页加载我的设备数据 -->
	<select id="QueryMapper.queryDeviceInfo" 	parameterType="queryModel"	resultMap="mRetDeviceMap">
		<![CDATA[
			select a1.deviceId, a1.deviceType, a1.deviceModel, a1.deviceNo, a1.deviceSim, a2.name, IFNULL(a3.userId, 0) as userId, IFNULL(a3.buyTime, '-') as buyTime
			from tab_device a1
			inner join tab_dict_device_type a2 on a1.deviceType=a2.id
			left join tab_user_device a3 on a3.deviceId=a1.deviceId and a3.userId=#{userId}
		]]>
		<where>	
	        <if test="deviceType != null and deviceType > 0">
				AND a1.deviceType  = #{deviceType}
	        </if>
	        <if test="type != null and type == 0">
				AND IFNULL(a3.userId, 0)  = #{type}
	        </if>
	        <if test="type != null and type > 0">
				AND IFNULL(a3.userId, 0)  = 1
	        </if>
		</where>
		<![CDATA[
			order by a1.deviceModel
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 购买服务 -->
	<insert id="QueryMapper.modifyBuyServiceInfo" useGeneratedKeys="true" keyProperty="buyId">
	    <![CDATA[
	        INSERT INTO tab_user_service (userId, serviceId, buyTime) 
	        VALUES (#{userId}, #{id}, #{buyTime})
	    ]]>
	</insert>
	
	<!-- 购买服务 -->
	<insert id="QueryMapper.modifyBuyDeviceInfo" useGeneratedKeys="true" keyProperty="buyId">
	    <![CDATA[
	        INSERT INTO tab_user_device (userId, deviceId, buyTime) 
	        VALUES (#{userId}, #{id}, #{buyTime})
	    ]]>
	</insert>
	
	<!-- 修改密码 -->
	<update id="QueryMapper.modifyUserPwdInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			userPass = #{userNewPwd}
			WHERE userId = #{userId}
			and userPass = #{userPwd}
		]]>
	</update>
	
	
	<!-- 查询我的亲情号码总数 -->
	<select id="QueryMapper.queryRelativePhoneInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt  
			from tab_relative_phone a1 
			where a1.userId=#{userId}
		]]>
	</select>
	
	<!-- 分页加载我的亲情号码数据 -->
	<select id="QueryMapper.queryRelativePhoneInfo" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a1.id, a1.relativeName, a1.relativeTel, a1.relativeType, a1.relativeCellPhone, a1.relativeAddr, a1.userId
			from tab_relative_phone a1
			where a1.userId=#{userId}
			order by a1.relativeName
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 分页加载我的亲情号码数据 -->
	<select id="QueryMapper.queryRelativePhoneInfoById" 	parameterType="queryModel"	resultMap="mRelativePhoneMap">
		<![CDATA[
			select a1.id, a1.relativeName, a1.relativeTel, a1.relativeType, a1.relativeCellPhone, a1.relativeAddr, a1.userId
			from tab_relative_phone a1
			where a1.id=#{id}
		]]>
	</select>
	
	
	<!-- 增加亲情号码 -->
	<insert id="QueryMapper.addRelativePhoneInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_relative_phone (userId, relativeName, relativeType, relativeCellPhone, relativeTel, relativeAddr) 
	        VALUES (#{userId}, #{name}, #{type}, #{cellPhone}, #{tel}, #{address})
	    ]]>
	</insert>
	
	
	<!-- 修改亲情号码 -->
	<update id="QueryMapper.modifyRelativePhoneInfo" parameterType="relativePhoneModel">
		<![CDATA[
			UPDATE tab_relative_phone  SET  
			relativeName = #{name},
			relativeType = #{type},
			relativeCellPhone = #{cellPhone},
			relativeTel = #{tel},
			relativeAddr = #{address}
			WHERE id = #{id}
		]]>
	</update>
	
	<!-- 删除亲情号码-->
	<delete id="QueryMapper.delRelativePhoneInfo" parameterType="relativePhoneModel">
		<![CDATA[
			DELETE FROM tab_relative_phone 
			WHERE id = #{id} 
		]]>
	</delete>
</mapper>
