<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SearchMapper">
	
    <!-- 查询用户列表数据 -->
    <resultMap id="mRetUserMap" 					type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="name"  					column="name"/>
		<result property="gender"  					column="gender"/>
		<result property="birthdate"  				column="birthdate"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="email"  					column="email"/>
		
		<result property="credentialType"  			column="credentialType"/>
		<result property="credentialNo"  			column="credentialNo"/>
		<result property="isSoldier"  				column="isSoldier"/>
		<result property="isDisablity"  			column="isDisablity"/>
		<result property="height"  					column="height"/>
		
		<result property="weight"  					column="weight"/>
		<result property="nationality"  			column="nationality"/>
		<result property="nativePlace"  			column="nativePlace"/>
		<result property="marriageStatus"  			column="marriageStatus"/>
		<result property="householdType"  			column="householdType"/>
		
		<result property="education"  				column="education"/>
		<result property="policticsStatus"  		column="policticsStatus"/>
		<result property="homePhone"  				column="homePhone"/>
		<result property="homeAddress"  			column="homeAddress"/>
		<result property="photo"  					column="photo"/>
		<result property="stime"  					column="sendTime"/>
		<result property="cnt"  					column="cnt"/>
	</resultMap>
	
    <!-- 分页查询活动记录 -->
    <resultMap id="mRetActivityMap" 				type="activityModel">
		<result property="id"  						column="activityId"/>
		<result property="type"  					column="activityType"/>
		<result property="name"  					column="activityName"/>
		<result property="content"  				column="activityContent"/>
		<result property="creatorId"  				column="activityCreatorId"/>
		<result property="createTime"  				column="activityCreateTime"/>
		<result property="sdate"  					column="activityStartDate"/>
		<result property="edate"  					column="activityDuration"/>
		<result property="memo"  					column="activityMemo"/>
		<result property="icon"  					column="activityIcon"/>
	</resultMap>
	
    <!-- 查询服务记录 -->
    <resultMap id="mRetServiceMap" 		type="serviceModel">
		<result property="id"  			column="id"/>
		<result property="type"  		column="serviceType"/>
		<result property="name"  		column="serviceName"/>
		<result property="content"  	column="serviceContent"/>
		<result property="creatorId"  	column="serviceCreatorId"/>
		<result property="createTime"  	column="serviceCreateTime"/>
		<result property="sdate"  		column="serviceStartDate"/>
		<result property="edate"  		column="serviceDuration"/>
		<result property="memo"  		column="serviceMemo"/>
		<result property="icon"  		column="serviceIcon"/>
	</resultMap>
	
			
    <!-- 询医护人员列表 -->
	<resultMap id="mRetNurseRequestMap" 			type="nurseRequestModel">
	    <result property="id"  						column="id"/>
	    <result property="userId"  					column="userId"/>
		<result property="nurseId"  				column="nurseId"/>
		<result property="userName"  				column="name"/>
		<result property="status"  					column="status"/>
		<result property="requestTime"  			column="requestTime"/>
		<result property="responseTime"  			column="responseTime"/>
		<result property="memo"  					column="memo"/>
		<result property="gender"  					column="gender"/>
		<result property="cellphone"  				column="cellphone"/>
	</resultMap>
	
	
    <!-- 查询医生列表 -->
	<resultMap id="mRetDoctorMap" 						type="doctorModel">
	    <result property="doctorId"  					column="doctorId"/>
	    <result property="doctorName"  					column="doctorName"/>
		<result property="doctorGender"  				column="doctorGender"/>
		<result property="doctorPhoto"  				column="doctorPhoto"/>
		<result property="doctorHospitalId"  			column="doctorHospitalId"/>
		<result property="doctorDeptId"  				column="doctorDeptId"/>
		<result property="doctorTitle"  				column="doctorTitle"/>
		<result property="doctorEducationName"  		column="doctorEducationName"/>
		<result property="doctorSkill"  				column="doctorSkill"/>
		<result property="doctorDetailDescriptior"  	column="doctorDetailDescriptior"/>
		<result property="hospitalName"  				column="hospitalName"/>
		<result property="hospitalAddr"  				column="hospitalAddr"/>
		<result property="deptName"  					column="deptName"/>
	</resultMap>
	
    <!-- 加载用户基本信息 -->
	<resultMap id="mRetUserBaseMap" 				type="userModel">
		<result property="userId"  					column="userId"/>
		<result property="name"  					column="name"/>
		<result property="gender"  					column="gender"/>
		<result property="birthdate"  				column="birthdate"/>
		<result property="cellphone"  				column="cellphone"/>
		<result property="email"  					column="email"/>
		
		<result property="credentialType"  			column="credentialType"/>
		<result property="credentialNo"  			column="credentialNo"/>
		<result property="isSoldier"  				column="isSoldier"/>
		<result property="isDisablity"  			column="isDisablity"/>
		<result property="height"  					column="height"/>
		
		<result property="weight"  					column="weight"/>
		<result property="nationality"  			column="nationality"/>
		<result property="nativePlace"  			column="nativePlace"/>
		<result property="marriageStatus"  			column="marriageStatus"/>
		<result property="householdType"  			column="householdType"/>
		
		<result property="education"  				column="education"/>
		<result property="policticsStatus"  		column="policticsStatus"/>
		<result property="homePhone"  				column="homePhone"/>
		<result property="homeAddress"  			column="homeAddress"/>
		<result property="workingAge"  				column="workingAge"/>
		
		<result property="salary"  					column="salary"/>
		<result property="companyName"  			column="companyName"/>
		<result property="companyAddress"  			column="companyAddress"/>
		<result property="photo"  					column="photo"/>
	</resultMap>
	
	
	 <!-- 加载用户基本信息 -->
	<resultMap id="mRetDoctorAdivceMap" 			type="doctorAdviceModel">
		<result property="id"  						column="id"/>
		<result property="userId"  					column="userId"/>
		<result property="adviceTime"  				column="adviceTime"/>
		<result property="adviceContent"  			column="adviceContent"/>
		<result property="typeId"  					column="adviceTypId"/>
		<result property="typeName"  				column="typeName"/>
	</resultMap>
    
    <!-- 查询用户列表数据 -->
	<select id="SearchMapper.queryUserListInfo" 	parameterType="queryModel"	resultMap="mRetUserMap">
		<![CDATA[
			select a2.*, IFNULL(a3.cnt,0) as cnt, IFNULL(a3.sendTime,'-') as sendTime
			from tab_user_nurse_relation a1
			inner join tab_user a2 on a2.userId=a1.userId
			left join (
				select b1.senderId, b1.receiverId, MAX(b1.sendTime) as sendTime, count(1) as cnt
				from tab_msg b1
				where b1.status = 0
				group by b1.senderId, b1.receiverId
			) a3 on a3.receiverId=a1.nurseId and a1.userId=a3.senderId
			where a1.nurseId = #{nurseId}
		]]>
	        <if test="name != null and name != ''">
				AND a2.name LIKE CONCAT('%', #{name}, '%') 
	        </if>
		<![CDATA[
			order by IFNULL(a3.cnt,0) desc
		]]>
	</select>
	
	
	<!-- 查询活动的总数 -->
	<select id="SearchMapper.queryActivityInfoCnt" 	parameterType="queryModel"	resultType="long">
		<![CDATA[
			select count(1) as cnt
			from tab_activity a1
			where a1.activityCreatorId = #{nurseId}
		]]>
		<if test="name != null and name != ''">
			AND a1.activityName LIKE CONCAT('%', #{name}, '%') 
        </if>
	</select>
    
	
	<!-- 分页查询活动记录 -->
	<select id="SearchMapper.queryActivityInfo" 	parameterType="queryModel"	resultMap="mRetActivityMap">
		<![CDATA[
			select a1.activityId, a1.activityType, a1.activityName, a1.activityContent, a1.activityCreatorId, 
				a1.activityCreateTime, a1.activityStartDate, a1.activityDuration, a1.activityMemo,  a1.activityIcon
			from tab_activity a1
			where a1.activityCreatorId = #{nurseId}
		]]>
	       	<if test="name != null and name != ''">
				AND a1.activityName LIKE CONCAT('%', #{name}, '%') 
        	</if>
		<![CDATA[
			order by activityStartDate desc
			limit #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 分页查询活动记录 -->
	<select id="SearchMapper.queryActivityInfoById" 	parameterType="queryModel"	resultMap="mRetActivityMap">
		<![CDATA[
			select a1.activityId, a1.activityType, a1.activityName, a1.activityContent, a1.activityCreatorId, 
				a1.activityCreateTime, a1.activityStartDate, a1.activityDuration, a1.activityMemo,  a1.activityIcon
			from tab_activity a1
			where a1.activityId = #{id}
		]]>
	</select>
	
	<!-- 插入活动记录 -->
	<insert id="SearchMapper.addActivityInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_activity (activityType, activityName, activityContent, activityCreatorId, activityCreateTime, activityStartDate, activityDuration, activityMemo, activityIcon) 
	        VALUES (#{type}, #{name}, #{content}, #{creatorId}, #{createTime}, #{sdate}, #{edate}, #{memo}, #{icon})
	    ]]>
	</insert>
	
	<!-- 修改活动记录-->
	<update id="SearchMapper.modifyActivityInfo" parameterType="activityModel">
		<![CDATA[
			UPDATE tab_activity  SET  
			activityType = #{type},
			activityName = #{name}, 
			activityContent = #{content}, 
			activityStartDate = #{sdate}, 
			activityDuration = #{edate}, 
			activityMemo = #{memo}, 
			activityIcon = #{icon}
			WHERE activityId = #{id} 
		]]>
	</update>
	
	
	<!-- 删除活动记录-->
	<delete id="SearchMapper.delActivityInfo">
		<![CDATA[
			DELETE FROM tab_activity 
			WHERE activityId = #{id} 
		]]>
	</delete>
	
	<!-- 插入服务数据-->
	<insert id="SearchMapper.addServiceInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_service (serviceType, serviceName, serviceContent, serviceCreatorId, serviceCreateTime, serviceStartDate, serviceDuration, serviceMemo, serviceIcon) 
	        VALUES (#{type}, #{name}, #{content}, #{creatorId}, #{createTime}, #{sdate}, #{edate}, #{memo}, #{icon})
	    ]]>
	</insert>
	
	
	<!-- 查询服务数据总记录数-->
	<select id="SearchMapper.queryServiceInfoCnt" parameterType="queryModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_service a1
			where a1.serviceCreatorId=#{nurseId}
		]]>
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
	</select>
	
	
	
	<!-- 分页查询服务数据-->
	<select id="SearchMapper.queryServiceInfo" parameterType="queryModel"	resultMap="mRetServiceMap">
		<![CDATA[
			SELECT a1.*
			FROM tab_service a1
			where a1.serviceCreatorId=#{nurseId}
		]]>
	        <if test="name != null and name != ''">
				AND a1.serviceName LIKE CONCAT('%', #{name}, '%') 
	        </if>
		<![CDATA[
			order by a1.serviceStartDate
			LIMIT #{startNum}, #{rows}
		]]>
	</select>

	
	<!-- 分页查询活动记录 -->
	<select id="SearchMapper.queryServiceInfoById" 	parameterType="queryModel"	resultMap="mRetServiceMap">
		<![CDATA[
			select a1.*
			from tab_service a1
			where a1.id = #{id}
		]]>
	</select>
	
	
	<!-- 修改服务数据-->
	<update id="SearchMapper.modifyServiceInfo" parameterType="serviceModel">
		<![CDATA[
			UPDATE tab_service  SET  
			serviceType = #{type},
			serviceName = #{name}, 
			serviceContent = #{content}, 
			serviceStartDate = #{sdate}, 
			serviceDuration = #{edate}, 
			serviceMemo = #{memo}, 
			serviceIcon = #{icon}
			WHERE id = #{id} 
		]]>
	</update>
	
	<!-- 删除服务数据-->
	<delete id="SearchMapper.delServiceInfo">
		<![CDATA[
			DELETE FROM tab_service 
			WHERE id = #{id} 
		]]>
	</delete>
	
	
	<!-- 查询签约请求总记录数-->
	<select id="SearchMapper.queryNurseRequestInfoCnt" parameterType="queryModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			from tab_user_bind_nurse_request a1
			inner join tab_user a2 on a1.userId=a2.userId
			where a1.nurseId = #{nurseId}
			and a1.status = 0
		]]>
	</select>
	
	
	<!-- 分页查询签约请求数据-->
	<select id="SearchMapper.queryNurseRequestInfo" parameterType="queryModel"	resultMap="mRetNurseRequestMap">
		<![CDATA[
			select a1.id, a1.userId, a1.nurseId, a1.status, a1.requestTime, a1.responseTime, a1.memo, a2.name, a2.gender, a2.cellphone
			from tab_user_bind_nurse_request a1
			inner join tab_user a2 on a1.userId=a2.userId
			where a1.nurseId = #{nurseId}
			and a1.status = 0
			order by a1.requestTime desc
			LIMIT #{startNum}, #{rows}
		]]>
	</select>
	
	
	
	<!-- 加载请求明细-->
	<select id="SearchMapper.queryNurseQuestInfo" parameterType="queryModel"	resultMap="mRetNurseRequestMap">
		<![CDATA[
			select a1.id, a1.userId, a1.nurseId, a1.status, a1.requestTime, a1.responseTime, a1.memo, a2.name, a2.gender, a2.cellphone
			from tab_user_bind_nurse_request a1
			inner join tab_user a2 on a1.userId=a2.userId
			where a1.id = #{id}
		]]>
	</select>
	
	
	<!-- 插入用户与医护联系人关联-->
	<insert id="SearchMapper.addUserNurseRelaviteInfo">
	    <![CDATA[
	        INSERT INTO tab_user_nurse_relation (userId, nurseId) 
	        VALUES (#{userId}, #{nurseId})
	    ]]>
	</insert>
	
	
	<!-- 处理用户签约医护联系人申请-->
	<update id="SearchMapper.dealNurseRequestInfo" parameterType="serviceModel">
		<![CDATA[
			UPDATE tab_user_bind_nurse_request  SET  
			status = #{status},
			responseTime = #{responseTime}
			WHERE id = #{id} 
		]]>
	</update>
	
	
	<!-- 查询医生总记录数-->
	<select id="SearchMapper.queryDoctorInfoCnt" parameterType="queryModel" resultType="long">
		<![CDATA[
			select count(1) as cnt
			from tab_doctor a1
			left join tab_hospital a2 on a1.doctorHospitalId=a2.hospitalId
			left join tab_hospital_dept a3 on a3.deptId=a1.doctorDeptId
		]]>
		<where>	
	        <if test="hospitalId != null and hospitalId > 0">
				AND a1.doctorHospitalId = #{hospitalId}
	        </if>
	        <if test="deptId != null and deptId > 0">
				AND a1.doctorDeptId = #{deptId}
	        </if>
	        <if test="name != null and name != ''">
				AND a1.doctorName LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
	</select>
	
	
	<!-- 分页查询医生信息-->
	<select id="SearchMapper.queryDoctorInfo" parameterType="queryModel"	resultMap="mRetDoctorMap">
		<![CDATA[
			select a1.doctorId, a1.doctorName, a1.doctorGender, a1.doctorPhoto, a1.doctorHospitalId, 
				a1.doctorDeptId, a1.doctorTitle, a4.name as doctorEducationName, a1.doctorSkill, a1.doctorDetailDescriptior, 
				a2.hospitalName, a2.hospitalAddr, a3.deptName
			from tab_doctor a1
			left join tab_hospital a2 on a1.doctorHospitalId=a2.hospitalId
			left join tab_hospital_dept a3 on a3.deptId=a1.doctorDeptId
			left join tab_dict_education a4 on a4.id=a1.doctorEducation
		]]>
		<where>	
	        <if test="hospitalId != null and hospitalId > 0">
				AND a1.doctorHospitalId = #{hospitalId}
	        </if>
	        <if test="deptId != null and deptId > 0">
				AND a1.doctorDeptId = #{deptId}
	        </if>
	        <if test="name != null and name != ''">
				AND a1.doctorName LIKE CONCAT('%', #{name}, '%') 
	        </if>
		</where>
		<![CDATA[
			order by a1.doctorName
			LIMIT #{startNum}, #{rows}
		]]>
	</select>
	
	
	<!-- 分页查询医生信息详细-->
	<select id="SearchMapper.queryDoctorDetailInfo" parameterType="queryModel"	resultMap="mRetDoctorMap">
		<![CDATA[
			select a1.doctorId, a1.doctorName, a1.doctorGender, a1.doctorPhoto, a1.doctorHospitalId, 
				a1.doctorDeptId, a1.doctorTitle, a4.name as doctorEducationName, a1.doctorSkill, a1.doctorDetailDescriptior, 
				a2.hospitalName, a2.hospitalAddr, a3.deptName
			from tab_doctor a1
			left join tab_hospital a2 on a1.doctorHospitalId=a2.hospitalId
			left join tab_hospital_dept a3 on a3.deptId=a1.doctorDeptId
			left join tab_dict_education a4 on a4.id=a1.doctorEducation
			where a1.doctorId = #{id}
		]]>
	</select>
	
	
	
	
	<!-- 加载用户基本信息 -->
	<select id="SearchMapper.queryUserBaseInfo" 	parameterType="queryModel"	resultMap="mRetUserBaseMap">
		<![CDATA[
			select a1.*
			from tab_user a1
			where a1.userId=#{userId}
		]]>
	</select>
	
	
	<!-- 修改用户基础信息 -->
	<update id="SearchMapper.modifyUserBaseInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			name = #{name},
			gender = #{gender},
			birthdate = #{birthdate},
			cellphone = #{cellphone},
			email = #{email},
			photo=#{photo}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 修改用户详细信息 -->
	<update id="SearchMapper.modifyUserDetailInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			credentialType = #{credentialType},
			credentialNo = #{credentialNo},
			isSoldier = #{isSoldier},
			isDisablity = #{isDisablity},
			height = #{height},
			weight=#{weight},
			nationality=#{nationality},
			nativePlace=#{nativePlace},
			marriageStatus=#{marriageStatus},
			householdType=#{householdType},
			education=#{education},
			policticsStatus=#{policticsStatus},
			homeAddress=#{homeAddress},
			homePhone=#{homePhone}
			WHERE userId = #{userId}
		]]>
	</update>


	<!-- 修改用户工作信息 -->
	<update id="SearchMapper.modifyUserWorkInfo" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			workingAge = #{workingAge},
			salary = #{salary},
			companyName = #{companyName},
			companyAddress = #{companyAddress}
			WHERE userId = #{userId}
		]]>
	</update>
	
	
	<!-- 用户明细 -->
	<select id="SearchMapper.queryNurseDetailInfo" 	parameterType="queryModel"	resultMap="mRetUserBaseMap">
		<![CDATA[
			select a1.*
			from tab_user a1
			where a1.userId=#{id}
		]]>
	</select>
	
	
	<!-- 查询医嘱数据总记录数-->
	<select id="SearchMapper.queryDoctorAdviceInfoCnt" parameterType="queryModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_doctor_advice a1
			INNER JOIN tab_dict_doctor_advice_type a2 on a1.adviceTypId=a2.typeId
			where a1.userId=#{userId}
		]]>
	        <if test="startTime != null and startTime != ''">
			    AND a1.adviceTime >=   STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="endTime != null and  endTime != ''">
				<![CDATA[ 
					AND a1.adviceTime <=   STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
				]]>
			</if>
	</select>
	
	
	<!-- 分页查询医嘱数据-->
	<select id="SearchMapper.queryDoctorAdviceInfo" parameterType="queryModel"	resultMap="mRetDoctorAdivceMap">
		<![CDATA[
			SELECT a1.id, a1.userId, a1.adviceTime, a1.adviceContent, a1.adviceTypId, a2.typeName
			FROM tab_doctor_advice a1
			INNER JOIN tab_dict_doctor_advice_type a2 on a1.adviceTypId=a2.typeId
			where a1.userId=#{userId}
		]]>
	        <if test="startTime != null and startTime != ''">
			    AND a1.adviceTime >=   STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="endTime != null and  endTime != ''">
				<![CDATA[ 
					AND a1.adviceTime <=   STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s')
				]]>
			</if>
		<![CDATA[
			order by a1.adviceTime desc
			LIMIT #{startNum}, #{rows}
		]]>
	</select>
	
	<!-- 根据id查询医嘱数据-->
	<select id="SearchMapper.queryDoctorAdviceInfoById" parameterType="queryModel"	resultMap="mRetDoctorAdivceMap">
		<![CDATA[
			SELECT a1.id, a1.userId, a1.adviceTime, a1.adviceContent, a1.adviceTypId, a2.typeName
			FROM tab_doctor_advice a1
			INNER JOIN tab_dict_doctor_advice_type a2 on a1.adviceTypId=a2.typeId
			where a1.id=#{id}
		]]>
	</select>
	
	
	<!-- 插入医嘱数据-->
	<insert id="SearchMapper.addDoctorAdviceInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO tab_doctor_advice (userId, adviceTypId, adviceTime, adviceContent) 
	        VALUES (#{userId}, #{typeId}, #{adviceTime}, #{adviceContent})
	    ]]>
	</insert>
	
	
	<!-- 修改医嘱数据-->
	<update id="SearchMapper.modifyDoctorAdviceInfo" parameterType="serviceModel">
		<![CDATA[
			UPDATE tab_doctor_advice  SET  
			userId = #{userId},
			adviceTypId = #{typeId},
			adviceTime = #{adviceTime},
			adviceContent = #{adviceContent}
			WHERE id = #{id} 
		]]>
	</update>
	
	
	<!-- 删除医嘱数据-->
	<delete id="SearchMapper.delDoctorAdviceInfo">
		<![CDATA[
			DELETE FROM tab_doctor_advice 
			WHERE id = #{id} 
		]]>
	</delete>
</mapper>
