<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	
	<resultMap id="mRetUserMap" 			type="userModel">
		<result property="userId"  			column="userId"/>
		<result property="userName"  		column="userName"/>
		<result property="userPwd"  		column="userPass"/>
	</resultMap>

	<resultMap id="mRetUserInfoMap"			type="userModel">
		<result property="userId"  			column="userId"/>
		<result property="userName"  		column="userName"/>
		<result property="userPwd"  		column="userPass"/>
		<result property="name"  		    column="name"/>
		<result property="gender"  		    column="gender"/>
		<result property="birthdate"  		column="birthdate"/>
		<result property="cellphone"  		column="cellphone"/>
		<result property="email"  		    column="email"/>
		<result property="credentialType"  	column="credentialType"/>
		<result property="credentialNo"  	column="credentialNo"/>
		<result property="isSoldier"  		column="isSoldier"/>
		<result property="isDisablity"  	column="isDisablity"/>
		<result property="height"  		    column="height"/>
		<result property="weight"  		    column="weight"/>
		<result property="nationality"  	column="nationality"/>
		<result property="nativePlace"  	column="nativePlace"/>
		<result property="marriageStatus"  	column="marriageStatus"/>
		<result property="householdType"  	column="householdType"/>
		<result property="education"  		column="education"/>
		<result property="policticsStatus"  column="policticsStatus"/>
		<result property="homePhone"  		column="homePhone"/>
		<result property="homeAddress"  	column="homeAddress"/>
		<result property="workingAge"  		column="workingAge"/>
		<result property="salary"  		    column="salary"/>
		<result property="companyName"  	column="companyName"/>
		<result property="companyAddress"  	column="companyAddress"/>
		<result property="photo"  		    column="photo"/>
		<result property="parentId"  		column="userParentId"/>
		<result property="sysId"  		    column="userSysId"/>
		<result property="isChild"  	    column="isChild"/>
	</resultMap>
  
	<resultMap id="mRetParentInfoMap"	  type="userModel">
      <result property="userId"       column="userId"/>
      <result property="name"         column="name"/>
	</resultMap>
	
	
	<!-- 用户登录时根据用户名加载数据 -->
	<select id="UserMapper.getByName" 		resultMap="mRetUserMap">
		<![CDATA[
			SELECT A1.*
			FROM tab_user A1
			WHERE userName = #{userName}
			and userSysId = 3
		]]>
	</select>
	
	<!-- 插入用户登录与退出日志-->
	<insert id="UserMapper.addUserLogsInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO TAB_USERLOGIN_LOGS (user_id, IP, OPER_FLAG, STIME) 
	        VALUES (#{userId}, #{ip}, #{operFlag}, #{stime})
	    ]]>
	</insert>
	
	
	<!-- 插入用户-->
	<insert id="UserMapper.insert" useGeneratedKeys="true" keyProperty="userId">
	    <![CDATA[
	        INSERT INTO tab_user (userName,userPass,userSysId,isChild,userParentId,name,gender,
                                  birthdate,cellphone,email,credentialType,credentialNo,isSoldier,
                                  isDisablity,height,weight,nationality,nativePlace,marriageStatus,
                                  householdType,education,policticsStatus,homePhone,homeAddress,
                                  workingAge,salary,companyName,companyAddress,photo) 
	        VALUES (#{userName},#{userPwd},#{sysId},#{isChild},#{parentId},#{name},#{gender},
                    #{birthdate},#{cellphone},#{email},#{credentialType},#{credentialNo},#{isSoldier},
                    #{isDisablity},#{height},#{weight},#{nationality},#{nativePlace},#{marriageStatus},
                    #{householdType},#{education},#{policticsStatus},#{homePhone},#{homeAddress},
                    #{workingAge},#{salary},#{companyName},#{companyAddress},#{photo})
	    ]]>
	</insert>
  
    <select id="UserMapper.queryUserCountWithUserName" parameterType="userModel" resultType="int">
        <![CDATA[
            SELECT COUNT(1) AS CNT
            FROM tab_user a
            where a.userName = #{userName}
        ]]>
    </select>
	
	<!-- 查询总记录数-->
	<select id="UserMapper.count" parameterType="userModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_user a
		]]>
        <where> 
            <if test="userName != null and userName != ''">
              and a.userName LIKE CONCAT('%', #{userName}, '%') 
            </if>
            <if test="name != null and name != ''">
              and a.name LIKE CONCAT('%', #{name}, '%') 
            </if>
            <if test="sysId != null and sysId != ''">
              and a.userSysId = #{sysId} 
            </if>
        </where>      
	</select>
	
	<!-- 查询分页查询-->
	<select id="UserMapper.list" parameterType="userModel"	resultMap="mRetUserInfoMap">
		<![CDATA[
			SELECT a.*, CONCAT(b.userName, '(', b.name, ')') as parentName
			FROM tab_user a
            left join tab_user b on b.userId=a.userParentId
		]]>
        <where> 
            <if test="userName != null and userName != ''">
              and a.userName LIKE CONCAT('%', #{userName}, '%') 
            </if>
            <if test="name != null and name != ''">
              and a.name LIKE CONCAT('%', #{name}, '%') 
            </if>
            <if test="sysId != null and sysId != ''">
              and a.userSysId = #{sysId} 
            </if>
        </where>   
		<![CDATA[
			LIMIT #{startNum}, #{rows}
		]]>
	</select>

	<!-- 修改-->
	<update id="UserMapper.update" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
            userName = #{userName},		
            userSysId = #{sysId},		
            isChild = #{isChild},
            userParentId = #{parentId},	
            name = #{name},		
            gender = #{gender},		
            birthdate = #{birthdate},	
            cellphone = #{cellphone},	
            email = #{email},		
            credentialType = #{credentialType},
            credentialNo = #{credentialNo},
            isSoldier = #{isSoldier},		
            isDisablity = #{isDisablity},	
            height = #{height},		
            weight = #{weight},		
            nationality = #{nationality},	
            nativePlace = #{nativePlace},	
            marriageStatus = #{marriageStatus},
            householdType = #{householdType},
            education = #{education},		
            policticsStatus = #{policticsStatus},
            homePhone = #{homePhone},		
            homeAddress = #{homeAddress},	
            workingAge = #{workingAge},		
            salary = #{salary},		
            companyName = #{companyName},	
            companyAddress = #{companyAddress},
            photo = #{photo}
			WHERE userId = #{userId} 
		]]>
	</update>

	<update id="UserMapper.updateUserInfoForApp" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
            name = #{name},		
            gender = #{gender},		
            birthdate = #{birthdate},	
            height = #{height},		
            weight = #{weight}		
			WHERE userId = #{userId} 
		]]>
	</update>
	
	<!-- 删除-->
	<delete id="UserMapper.delete">
		<![CDATA[
			DELETE FROM tab_user 
			WHERE userId = #{userId} 
		]]>
	</delete>
  
    <update id="UserMapper.resetUserPassword" parameterType="userModel">
      <![CDATA[
        UPDATE tab_user set
        userPass = #{userPass} 
        WHERE userId = #{userId} 
      ]]>    
    </update>
  
    <update id="UserMapper.resetUserPasswordByName" parameterType="userModel">
      <![CDATA[
        UPDATE tab_user set
        userPass = #{userPwd} 
        WHERE userName = #{userName} 
      ]]>    
    </update>

  <select id="UserMapper.queryParents" parameterType="userModel"  resultMap="mRetParentInfoMap">
    <![CDATA[
      SELECT a.userId, CONCAT(a.userName, '(', a.name, ')') as name
      FROM tab_user a
      where a.userSysId = 1 and a.isChild = 0
      order by name
    ]]>
  </select>	
</mapper>
