<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	
	<resultMap id="mRetUserMap" 			type="userModel">
		<result property="userId"  			column="userId"/>
		<result property="userName"  		column="userName"/>
		<result property="userPwd"  		column="userPass"/>
	</resultMap>
	
	
	<!-- 用户登录时根据用户名加载数据 -->
	<select id="UserMapper.getByName" 		resultMap="mRetUserMap">
		<![CDATA[
			SELECT A1.*
			FROM tab_user A1
			WHERE userName = #{userName}
		]]>
	</select>
	
	<!-- 插入用户登录与退出日志-->
	<insert id="UserMapper.addUserLogsInfo" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO TAB_USERLOGIN_LOGS (userId, IP, OPER_FLAG, STIME) 
	        VALUES (#{userId}, #{ip}, #{operFlag}, #{stime})
	    ]]>
	</insert>
	
	
	<!-- 插入用户-->
	<insert id="UserMapper.insert" useGeneratedKeys="true" keyProperty="userId">
	    <![CDATA[
	        INSERT INTO tab_user (userName, USER_PWD, REAL_NAME, USER_TEL, USER_MEMO, STIME) 
	        VALUES (#{userName}, #{userPwd}, #{realName}, #{userTel}, #{userMemo}, #{stime})
	    ]]>
	</insert>
	
	
	<!-- 查询总记录数-->
	<select id="UserMapper.count" parameterType="userModel" resultType="long">
		<![CDATA[
			SELECT COUNT(1) AS CNT
			FROM tab_user 
		]]>
	</select>
	
	<!-- 查询分页查询-->
	<select id="UserMapper.list" parameterType="userModel"	resultMap="mRetUserMap">
		<![CDATA[
			SELECT *
			FROM tab_user
			LIMIT #{startNum}, #{rows}
		]]>
	</select>


	<!-- 修改-->
	<update id="UserMapper.update" parameterType="userModel">
		<![CDATA[
			UPDATE tab_user  SET  
			userName = #{userName}, 
			USER_PWD = #{userPwd},
			REAL_NAME = #{realName},
			USER_TEL = #{userTel},
			USER_MEMO = #{userMemo},
			STIME = #{stime}        
			WHERE userId = #{userId} 
		]]>
	</update>
	
	<!-- 删除-->
	<delete id="UserMapper.delete">
		<![CDATA[
			DELETE FROM tab_user 
			WHERE userId = #{userId} 
		]]>
	</delete>
	
</mapper>
